In [ ]:
!pip install https://huggingface.co/opennyaiorg/en_legal_ner_trf/resolve/main/en_legal_ner_trf-any-py3-none-any.whl
!pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl

In [ ]:
cd '/content/drive/MyDrive/NLP/NLP project/legal_NER-main'

In [ ]:
!pip install -r requirements.txt

In [2]:
import pandas as pd

with open('/content/NER_TRAIN_JUDGEMENT.json', encoding='utf-8') as inputfile:
    df = pd.read_json(inputfile)

df.to_csv('csvfile.csv', encoding='utf-8', index=False)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df

,id,annotations,data,meta
0,90d9a97c7b7749ec8a4f460fda6f937e,"[{'result': [{'value': {'start': 90, 'end': 10...",{'text': ' (7) On specific query by the Bench...,{'source': 'tax_districtcourts judgement https...
1,a325c57ba5b84c6fa46bee65e6616633,"[{'result': [{'value': {'start': 26, 'end': 30...",{'text': 'He was also asked whether Agya <span...,{'source': 'criminal_punjab-haryana_high_court...
2,33cface31108441080976035ee04d07e,"[{'result': [{'value': {'start': 13, 'end': 25...","{'text': ' 5.2 CW3 Mr Vijay Mishra , Deputy M...",{'source': 'financial_districtcourts judgement...
3,08debe900b51464e9f26b5d1eecae170,[{'result': []}],{'text': 'You are hereby asked not to carry ou...,{'source': 'civil_bombay_high_court judgement ...
4,428070222cd940eba78b233829eb28b8,"[{'result': [{'value': {'start': 18, 'end': 43...",{'text': 'The pillion rider T.V. Satyanarayana...,{'source': 'motorvehicles_andhra_high_court ju...
...,...,...,...,...
9430,5cb430a6d0e14e57a968f0c43d219682,"[{'result': [{'value': {'start': 202, 'end': 2...",{'text': 'It is prayed in the application that...,{'source': 'civil_districtcourts judgement htt...
9431,6e9147c9e6344865a8b095fb7f43f7c2,"[{'result': [{'value': {'start': 26, 'end': 35...","{'text': 'In the first instance, Mr.A.D.Desai ...",{'source': 'tax_gujarat_high_court judgement h...
9432,657ef5df817d4e95a36d702b4e41ce7d,"[{'result': [{'value': {'start': 0, 'end': 5, ...","{'text': 'Sikri, J. (as he then was), speaking...",{'source': 'constitution_allahabad_high_court ...
9433,9ff4b03ee09f49a6814b9550c145ea1e,"[{'result': [{'value': {'start': 1, 'end': 17,...",{'text': '(RAJENDRA MAHAJAN) JUDGE AKM M.Cr.C....,{'source': 'industrial&labour_madhya_pradesh_h...
9434,3d5af7281ab940598e9b1480dc3a8319,"[{'result': [{'value': {'start': 144, 'end': 1...","{'text': 'In the cross-examination, PW.12 has ...",{'source': 'criminal_karnataka_high_court judg...

In [4]:
from torch import cuda
device = 'cuda' if cuda.is_available() else 'cpu'
print(device)

cuda

## Text Preprocessing

### Preproceesing annotations start

In [5]:
annotations_column = df['annotations']

In [6]:
annotations_column =  annotations_column.to_numpy()

In [7]:
annotation_start = []
annotation_end = []


for sent in annotations_column:
  sent_start = []
  sent_end = []
  sent_text = []
  sent_label = []
  for sent_res in sent:
    for res_value in sent_res['result']:
      sent_start.append(res_value['value']['start'])

    for res_value in sent_res['result']:
      sent_end.append(res_value['value']['end'])
    


  annotation_start.append(sent_start)
  annotation_end.append(sent_end)

In [8]:
annotation_start[0]

[90, 267]

In [9]:
len(annotation_end)

9435

In [10]:
annotation_text = []
annotation_label = []
for sent in annotations_column:
    sent_text = []
    sent_label = []
    for sent_res in sent:

        for res_value in sent_res['result']:
          sent_text.append(res_value['value']['text'])
        
        for res_value in sent_res['result']:
          sent_label.append(res_value['value']['labels']) 

    annotation_text.append(sent_text)
    annotation_label.append(sent_label)

In [11]:
annotation_text[0]

['Hongkong Bank', 'Rahul & Co.']

In [12]:
annotation_label[0]

[['ORG'], ['ORG']]

In [13]:
column_names = ['start', 'end' , 'text' , 'labels']

final_df = pd.DataFrame()
final_df['start'] = annotation_start
final_df['end'] = annotation_end
final_df['text'] = annotation_text
final_df['labels'] = annotation_label

final_df.head()

,start,end,text,labels
0,"[90, 267]","[103, 278]","[Hongkong Bank, Rahul & Co.]","[[ORG], [ORG]]"
1,"[26, 101, 159]","[30, 105, 174]","[Agya, Kaur, Tarlochan Singh]","[[OTHER_PERSON], [OTHER_PERSON], [OTHER_PERSON]]"
2,"[13, 44, 62, 121]","[25, 60, 64, 130]","[Vijay Mishra, HDFC Bank, Noida, UP, HDFC Bank]","[[WITNESS], [ORG], [GPE], [ORG]]"
3,[],[],[],[]
4,[18],[43],[T.V. Satyanarayana Murthy],[[OTHER_PERSON]]

In [14]:
for a,b,c,d in zip(annotation_start[:2], annotation_end[:2],annotation_text[:2],annotation_label[:2]):
  print(a,b,c,d)

[90, 267] [103, 278] ['Hongkong Bank', 'Rahul & Co.'] [['ORG'], ['ORG']]
[26, 101, 159] [30, 105, 174] ['Agya', 'Kaur', 'Tarlochan Singh'] [['OTHER_PERSON'], ['OTHER_PERSON'], ['OTHER_PERSON']]

In [15]:
zip(annotation_start[0], annotation_end[0])

In [16]:
pwd

'/content'

In [17]:
final_df.to_csv('Processed_DataFrame_Train')

## IOB tagging

In [18]:
import pandas as pd

df_ = pd.read_csv('/content/Processed_DataFrame_Train')
df_.head()

,Unnamed: 0,start,end,text,labels
0,0,"[90, 267]","[103, 278]","['Hongkong Bank', 'Rahul & Co.']","[['ORG'], ['ORG']]"
1,1,"[26, 101, 159]","[30, 105, 174]","['Agya', 'Kaur', 'Tarlochan Singh']","[['OTHER_PERSON'], ['OTHER_PERSON'], ['OTHER_P..."
2,2,"[13, 44, 62, 121]","[25, 60, 64, 130]","['Vijay Mishra', 'HDFC Bank, Noida', 'UP', 'HD...","[['WITNESS'], ['ORG'], ['GPE'], ['ORG']]"
3,3,[],[],[],[]
4,4,[18],[43],['T.V. Satyanarayana Murthy'],[['OTHER_PERSON']]

In [19]:
text = df.iloc[[0]]['data']

In [20]:
text[0]['text']

"\n\n(7) On specific query by the Bench about an entry of Rs. 1,31,37,500 on deposit side of Hongkong Bank account of which a photo copy is appearing at p. 40 of assessee's paper book, learned authorised representative submitted that it was related to loan from broker, Rahul & Co. on the basis of his submission a necessary mark is put by us on that photo copy."

In [21]:
import spacy
nlp = spacy.load('en_core_web_sm')

doc = nlp(text[0]['text'])

for d in doc:
  print(d.text)

(
7
)
On
specific
query
by
the
Bench
about
an
entry
of
Rs
.
1,31,37,500
on
deposit
side
of
Hongkong
Bank
account
of
which
a
photo
copy
is
appearing
at
p.
40
of
assessee
's
paper
book
,
learned
authorised
representative
submitted
that
it
was
related
to
loan
from
broker
,
Rahul
&
Co.
on
the
basis
of
his
submission
a
necessary
mark
is
put
by
us
on
that
photo
copy
.

In [22]:
import re
t = re.sub('\n', " ", text[0]['text'])

In [23]:
" ".join(t.split())

"(7) On specific query by the Bench about an entry of Rs. 1,31,37,500 on deposit side of Hongkong Bank account of which a photo copy is appearing at p. 40 of assessee's paper book, learned authorised representative submitted that it was related to loan from broker, Rahul & Co. on the basis of his submission a necessary mark is put by us on that photo copy."

In [24]:
df['data']

0       {'text': '

(7) On specific query by the Bench...
1       {'text': 'He was also asked whether Agya <span...
2       {'text': '
5.2 CW3 Mr Vijay Mishra , Deputy M...
3       {'text': 'You are hereby asked not to carry ou...
4       {'text': 'The pillion rider T.V. Satyanarayana...
                              ...
9430    {'text': 'It is prayed in the application that...
9431    {'text': 'In the first instance, Mr.A.D.Desai ...
9432    {'text': 'Sikri, J. (as he then was), speaking...
9433    {'text': '(RAJENDRA MAHAJAN) JUDGE AKM M.Cr.C....
9434    {'text': 'In the cross-examination, PW.12 has ...
Name: data, Length: 9435, dtype: object

In [25]:
def preprocess(sent):
  sent = re.sub('\n', " ", sent)
  sent = sent.replace("...", " ")
  sent = " ".join(sent.split())

  return sent


clean_text = []
for i in df['data']:
  clean_text.append(preprocess(i['text']))

In [26]:
len(clean_text)

9435

In [27]:
df_['clean_text'] = clean_text

In [28]:
df_.head()

,Unnamed: 0,start,end,text,labels,clean_text
0,0,"[90, 267]","[103, 278]","['Hongkong Bank', 'Rahul & Co.']","[['ORG'], ['ORG']]",(7) On specific query by the Bench about an en...
1,1,"[26, 101, 159]","[30, 105, 174]","['Agya', 'Kaur', 'Tarlochan Singh']","[['OTHER_PERSON'], ['OTHER_PERSON'], ['OTHER_P...","He was also asked whether Agya <span class=""hi..."
2,2,"[13, 44, 62, 121]","[25, 60, 64, 130]","['Vijay Mishra', 'HDFC Bank, Noida', 'UP', 'HD...","[['WITNESS'], ['ORG'], ['GPE'], ['ORG']]","5.2 CW3 Mr Vijay Mishra , Deputy Manager, HDFC..."
3,3,[],[],[],[],You are hereby asked not to carry out any cons...
4,4,[18],[43],['T.V. Satyanarayana Murthy'],[['OTHER_PERSON']],The pillion rider T.V. Satyanarayana Murthy al...

In [29]:
s = df_.iloc[0]['clean_text']

for i in range(7,40):
  print(s[i])

s
p
e
c
i
f
i
c

q
u
e
r
y

b
y

t
h
e

B
e
n
c
h

a
b
o
u
t

In [30]:
df_.iloc[1]['clean_text']

import spacy
nlp = spacy.load('en_core_web_sm')

doc = nlp(df_.iloc[0]['clean_text'])

print(doc[0])

(

In [31]:
span = doc.char_span(73,100,label = "COURT")
span

## New solution

In [32]:
def sentence_cleaner(sentence):
    '''
    replacing the unwanted charachters
    '''
    reg = re.compile("[\w]*[\w.]*\w[\w']*\w[\w\/]*|[\w\/O]")
    return " ".join(reg.findall(sentence.replace('\n', ' '))).replace(" / ", '/')

In [33]:
def sentence_cleaner_v1(sentence):
    '''
    replacing the unwanted charachters
    '''
    sent_1 = " ".join(sentence.replace("\n" , " ").replace("..." , " ").replace("-", " ").replace("," , " ").replace(":" , " ").replace("=",  " ").split())
    doc = nlp(sent_1)
    doc_list = []
    for i in doc:
      doc_list.append(str(i))
    return doc_list

In [34]:
def sentence_tagging(sent, annotation):

  #creating dictonary to store word to entity
  word2ent = {}
  sent = sent['text']
  for ann in (annotation[0]['result']):
    temp_sent = (sent[ ann['value']['start']: ann['value']['end']]).split()
    
    #Customized IOBE tagging

    temp_len = len(temp_sent)
    #print(temp_sent,temp_len)
    if temp_len > 1 :
        for i in range(temp_len):
            #print(i, temp_len - 1)
            if i == 0 :
              word2ent[temp_sent[i]] =  "B-" + ann['value']['labels'][0]
            
            elif i == (temp_len - 1):
              word2ent[temp_sent[i]] =  "E-" + ann['value']['labels'][0]

            else :
              word2ent[temp_sent[i]] =  "I-" + ann['value']['labels'][0]

    else :
        word2ent[temp_sent[0]] = "B-" + ann['value']['labels'][0]

  #adding 'O' tag
  sent = sentence_cleaner(sent)
  sent = sent.split()
  tag_list = []
  for word in sent:
      #print(word)
      if word not in word2ent.keys() and word + ',' not in word2ent.keys() :
        
        word2ent[word] = "O"
        #print(word , word2ent[word])
        tag_list.append(word2ent[word])
      
      else :
          tag_list.append(word2ent[word])
  
  
  print(word2ent )
  return tag_list

In [35]:
def sentence_tagging_v1(sent, annotation):

  #creating dictonary to store word to entity
  word2ent = {}
  sent = sent['text']
  for ann in (annotation[0]['result']):
    temp_sent = (sent[ ann['value']['start']: ann['value']['end']]).split()
    
    #Customized IOBE tagging

    temp_len = len(temp_sent)
    #print(temp_sent,word2ent)
    for i in range(temp_len):
        #print(i, temp_len - 1)
        #assign empty list if word not present in dictonary
        if temp_sent[i] not in word2ent:
            word2ent[temp_sent[i]] = []

        if i == 0 :
          word2ent[temp_sent[i]].append("B-" + ann['value']['labels'][0])
        
        elif i == (temp_len - 1):
          word2ent[temp_sent[i]].append("E-" + ann['value']['labels'][0])

        else :
          word2ent[temp_sent[i]].append("I-" + ann['value']['labels'][0])

  #adding 'O' tag
  sent = sentence_cleaner(sent)
  sent = sent.split()
  tag_list = []
  for word in sent:
      #print(word)
      if word not in word2ent.keys():
        
        word2ent[word] = "O"
        #print(word , word2ent[word])
      tag_list.append(word2ent[word])
      
  
  
  #print(word2ent )
  return tag_list

In [36]:
def sentence_tagging_v2(sent, annotation):

  """
  current using word
  """

  #creating dictonary to store word to entity
  word2ent = {}
  sent = sent['text']
  for ann in (annotation[0]['result']):
    temp_sent = sentence_cleaner_v1(sent[ ann['value']['start']: ann['value']['end']])
    
    #Customized IOBE tagging

    temp_len = len(temp_sent)
    #print(temp_sent,word2ent)
    for i in range(temp_len):
        #print(i, temp_len - 1)
        #assign empty list if word not present in dictonary
        if temp_sent[i] not in word2ent:
            word2ent[temp_sent[i]] = []

        if i == 0 :
          word2ent[temp_sent[i]].append("B-" + ann['value']['labels'][0])
        
        elif i == (temp_len - 1):
          word2ent[temp_sent[i]].append("E-" + ann['value']['labels'][0])

        else :
          word2ent[temp_sent[i]].append("I-" + ann['value']['labels'][0])

  #adding 'O' tag
  sent = sentence_cleaner_v1(sent)
  tag_list = []
  for word in sent:
      #print(word)
      if word not in word2ent.keys():
        tag = "O"
      else :
        if len(word2ent[word]) != 0 :
          tag = word2ent[word].pop(0)
        else :
          tag = "O"

      #print(word,tag)   
      tag_list.append(str(tag))
      
  
  
  #print(word2ent )
  return tag_list

In [37]:
IOBE_tagging = []
i = 0
for sent, anno in zip( df['data'].to_list(), df['annotations'].to_list()):
    IOBE_tagging.append(sentence_tagging_v2(sent,anno))

In [38]:
IOBE_tagging[2]

['O',
 'O',
 'O',
 'B-WITNESS',
 'E-WITNESS',
 'O',
 'O',
 'B-ORG',
 'I-ORG',
 'E-ORG',
 'B-GPE',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-ORG',
 'E-ORG',
 'O',
 'O',
 'O',
 'O',
 'O']

In [39]:
final_df['tags'] = IOBE_tagging
final_df.head()

,start,end,text,labels,tags
0,"[90, 267]","[103, 278]","[Hongkong Bank, Rahul & Co.]","[[ORG], [ORG]]","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
1,"[26, 101, 159]","[30, 105, 174]","[Agya, Kaur, Tarlochan Singh]","[[OTHER_PERSON], [OTHER_PERSON], [OTHER_PERSON]]","[O, O, O, O, O, B-OTHER_PERSON, O, O, O, O, O,..."
2,"[13, 44, 62, 121]","[25, 60, 64, 130]","[Vijay Mishra, HDFC Bank, Noida, UP, HDFC Bank]","[[WITNESS], [ORG], [GPE], [ORG]]","[O, O, O, B-WITNESS, E-WITNESS, O, O, B-ORG, I..."
3,[],[],[],[],"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
4,[18],[43],[T.V. Satyanarayana Murthy],[[OTHER_PERSON]],"[O, O, O, B-OTHER_PERSON, I-OTHER_PERSON, E-OT..."

In [40]:
sent_1 = df['data'].to_list()[2]['text']
sent_1

' \n5.2 CW3 Mr Vijay Mishra , Deputy Manager, HDFC Bank, Noida, UP has deposed that complainant had a current account with HDFC Bank in the year 2004\xad2005.'

In [ ]:
# tag_2 = final_df['tags'].to_list()[77]
# tag_2

In [41]:
# [\w]*[\w.]*\w[\w']*\w[\w\/]*|[\w\/O]

reg = re.compile("[\w]*[\w.]*\w[\w']*\w[\w\/]*|[\w\/O]")
" ".join(reg.findall(sent_1.replace('\n', ' '))).replace(" / ", '/')

'5 2 CW3 Mr Vijay Mishra Deputy Manager HDFC Bank Noida UP has deposed that complainant had a current account with HDFC Bank in the year 2004 2005'

In [42]:
" ".join(sent_1.replace(" "," ").split())

'5.2 CW3 Mr Vijay Mishra , Deputy Manager, HDFC Bank, Noida, UP has deposed that complainant had a current account with HDFC Bank in the year 2004\xad2005.'

In [43]:
word2count = {}

for sent in df['data'].to_list():
    for word in sent['text'].split():
        if word not in word2count:
          word2count[word] = 0
        else:
          word2count[word] += 1

In [44]:
for key in word2count.keys():
  if re.search(r'\bM+\b', key):
    print(key)

A.M.
S.M.
MMÂ­07,
(M.Cr.C.
M.
M/S
M.B.
(M.
M.V.C.No.6640/2013:
CM(M)527/1999.
V.M.
(M.P.)
M/s.
M.Y.
PW25-Dr.M.Sathikumar,
M.Cr.C.
MM
M.P.S.R.T.C.
C.M.M.,
M/s
M.M.
P.M.
M
1996#1996#M/s
M.P.L.J.
M.A.C.A
M.V.
M.P.
M.V
M/s.Nandh
Crl.M.A.
N.M.
CW1/M
M.L.C.
(M),
M.Sc.
M.A.
M.C.
M/
M.A.C.
(M-4
CM(M)
(O&M)
M.O.
Mr.I.M.Nanavati
A.D.M.
P.M.,
C.M.A.
K.M.
M.O.59,
M.O.60,
MHC(M)
MHC(M).
(M.L.
M/s.Jayanthilal
M.K.
M.V.Act,
M/s.Amigo
M.Os.
M.S.RAMACHANDRA
Crl.M.P.No.3726
M/s.Tirumalas
(M.P.
Cr.M.C.
M.C.O.P.No.1326
(M)}.
Crl.M.C.1161/2007
M.A
(C.M.A
B.M.T.
H.M.T.
M.Venugopal
M/s.Siva
(M.O.2),
(M.O.5),
(M.O.1),
(M.O.3)
(M.O.4)
(M/s.
(M/B)
C.M.No.15703
M.R.,
M.V.Act
O.M.No.
No.22148-M
Crl.M.C
J.M.F.C.,
M.L.Mahajan
Crl.M.A.No.1888
C.M.P.
C.J.M.,
(P.M.Kuriakose
M.C.O.P.
M.V.C.No.6642/2013
Crl.M.C.
M.Parasakthi
M/s.Praveen
M/s.Thirumala's.
M.S.
Crl.M.P.No.569
R.M.
M.A.C.A.No.850/2016
M.P.Municipal
M.A.C.T
C.M.V.
D.C.M.
T.M.A.
M.S.,
M.D.
(M/s
M/30yrs
M'Naughton'
Crl.M.A.7959/2011
M.C.C.No.500/2015
P.M
M.P.,
L.M.
\.M.P.
PW2-M.Venkata
M/S.
C.R.M.
Per.R.M.
(A.M.
(V.M.
G.M.
M.A.C.Ts
(M.A.C.P.)
M/s.Drego
M/s.Milan
H.M.
M.,
M.A.C.P.
M.B.B.S.
M.P.S.R.T.
M.L.J.
D.M.
M.Krishnammal
M.A.C.T.O.P.
M.A.C.T.,
(M.K.Mudgal)
M,
M/CAC-832.
C.M.P.No.
M.Cr.C.No.3139/2014
M.S.Shoes
S.D.M.
M.U.
M.L.
C.M.M.

## Using Tokenizer

In [45]:
from spacy.tokenizer import Tokenizer
from spacy.lang.en import English
nlp = English()

In [46]:
sent_1 = " ".join(sent_1.replace("\n" , " ").replace("..." , " ").replace("-", "").split())
doc = nlp(sent_1)
doc_list = []
for i in doc:
  doc_list.append(str(i))
doc_list

['5.2',
 'CW3',
 'Mr',
 'Vijay',
 'Mishra',
 ',',
 'Deputy',
 'Manager',
 ',',
 'HDFC',
 'Bank',
 ',',
 'Noida',
 ',',
 'UP',
 'has',
 'deposed',
 'that',
 'complainant',
 'had',
 'a',
 'current',
 'account',
 'with',
 'HDFC',
 'Bank',
 'in',
 'the',
 'year',
 '2004\xad2005',
 '.']

# Clean the sentences

In [47]:
clean_sentences = []

for sent in df['data'].to_list():
    clean_sentences.append(sentence_cleaner_v1(sent['text']))

In [48]:
final_df['clean_sent'] = clean_sentences
final_df.head()

,start,end,text,labels,tags,clean_sent
0,"[90, 267]","[103, 278]","[Hongkong Bank, Rahul & Co.]","[[ORG], [ORG]]","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[(, 7, ), On, specific, query, by, the, Bench,..."
1,"[26, 101, 159]","[30, 105, 174]","[Agya, Kaur, Tarlochan Singh]","[[OTHER_PERSON], [OTHER_PERSON], [OTHER_PERSON]]","[O, O, O, O, O, B-OTHER_PERSON, O, O, O, O, O,...","[He, was, also, asked, whether, Agya, <, span,..."
2,"[13, 44, 62, 121]","[25, 60, 64, 130]","[Vijay Mishra, HDFC Bank, Noida, UP, HDFC Bank]","[[WITNESS], [ORG], [GPE], [ORG]]","[O, O, O, B-WITNESS, E-WITNESS, O, O, B-ORG, I...","[5.2, CW3, Mr, Vijay, Mishra, Deputy, Manager,..."
3,[],[],[],[],"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[You, are, hereby, asked, not, to, carry, out,..."
4,[18],[43],[T.V. Satyanarayana Murthy],[[OTHER_PERSON]],"[O, O, O, B-OTHER_PERSON, I-OTHER_PERSON, E-OT...","[The, pillion, rider, T.V., Satyanarayana, Mur..."

## Word2idx

In [49]:
def get_dict_map(df , token_or_tag):
    """
    converts word to index

    [Need changes !!!]
    """
    tok2idx = {}
    idx2tok = {}

    vocab = []

    if token_or_tag == 'token':
        for sent in df['clean_sent'].to_list():
          vocab.extend( list(set(sent)) )

        vocab = set(vocab)

    else :
        for sent in df['tags'].to_list():
          vocab.extend( list(set(sent)) )
        
        vocab = set(vocab)


    idx2tok = {idx:tok for idx , tok in enumerate(vocab)}
    tok2idx = {tok:idx for idx , tok in enumerate(vocab)}

    return tok2idx, idx2tok



word2idx, idx2word = get_dict_map(final_df, 'token')
tag2idx, idx2tag = get_dict_map(final_df, 'tag')

In [50]:
"""
Padding and converting from word sequence to index sequence

"""

max_len = max([len(sent) for sent in final_df['clean_sent'].tolist()])
pad_idx = len(word2idx)
tag_pad_idx = tag2idx['O']
word_idx_sequence = []
tag_idx_sequence = []
pad = "PAD"

for sent in final_df['clean_sent'].to_list():
    #print(sent)
    word_idx_sequence.append([word2idx[word] for word in sent] + [pad_idx for _ in range(max_len - len(sent))])


for tag_seq in final_df['tags'].to_list():
    tag_idx_sequence.append([tag2idx[tag] for tag in tag_seq] + [tag_pad_idx for _ in range(max_len - len(tag_seq))])

In [51]:
final_df['word_idx'] = word_idx_sequence
final_df['tag_idx'] = tag_idx_sequence

In [52]:
len(tag2idx)

40

In [53]:
tag2idx

{'E-RESPONDENT': 0,
 'B-RESPONDENT': 1,
 'O': 2,
 'B-GPE': 3,
 'I-OTHER_PERSON': 4,
 'B-PROVISION': 5,
 'E-ORG': 6,
 'E-PROVISION': 7,
 'E-GPE': 8,
 'B-STATUTE': 9,
 'B-JUDGE': 10,
 'B-ORG': 11,
 'E-JUDGE': 12,
 'B-OTHER_PERSON': 13,
 'I-WITNESS': 14,
 'I-DATE': 15,
 'I-PROVISION': 16,
 'I-COURT': 17,
 'I-CASE_NUMBER': 18,
 'B-PETITIONER': 19,
 'I-PRECEDENT': 20,
 'I-JUDGE': 21,
 'E-CASE_NUMBER': 22,
 'I-ORG': 23,
 'E-OTHER_PERSON': 24,
 'B-WITNESS': 25,
 'I-PETITIONER': 26,
 'E-WITNESS': 27,
 'E-PRECEDENT': 28,
 'B-CASE_NUMBER': 29,
 'B-PRECEDENT': 30,
 'I-GPE': 31,
 'I-RESPONDENT': 32,
 'B-DATE': 33,
 'E-DATE': 34,
 'I-STATUTE': 35,
 'B-COURT': 36,
 'E-COURT': 37,
 'E-PETITIONER': 38,
 'E-STATUTE': 39}

In [54]:
import json

with open("tag2idx_Judgement","w") as file:
  json.dump(tag2idx, file)

In [55]:
import json

with open("idx2tag_Judgement","w") as file:
  json.dump(idx2tag, file)

In [56]:
word2idx

{'unrewarding': 0,
 'overpayment': 1,
 'purses': 2,
 'No.216': 3,
 '1635': 4,
 '1775': 5,
 'Sanjay': 6,
 'mandates': 7,
 'deliberation': 8,
 'Commenting': 9,
 'MCrC': 10,
 'Ramachandran': 11,
 'Lakhawat': 12,
 '1619': 13,
 'PIL': 14,
 'apportioned': 15,
 'galloping': 16,
 'Nos.19': 17,
 '2088/9': 18,
 'Thomas': 19,
 'Sukhdev': 20,
 'acquiring': 21,
 'disallow': 22,
 'stall': 23,
 '26.11.2005': 24,
 'Satyanand': 25,
 'pellant': 26,
 'Mookerjee': 27,
 'Arijit': 28,
 'best': 29,
 'forgery': 30,
 'Deface': 31,
 'pigeon': 32,
 'docs': 33,
 'University': 34,
 'vend': 35,
 'sore': 36,
 'through': 37,
 'Payment': 38,
 'destination': 39,
 'illegally': 40,
 '18.10.2008': 41,
 'Bind': 42,
 'Energy': 43,
 'achieve': 44,
 'anxiety': 45,
 'guns': 46,
 'rain': 47,
 'Simranjit': 48,
 'C.T.Scan': 49,
 'Marine': 50,
 'determines': 51,
 'Haji': 52,
 '74/08': 53,
 'No.10017': 54,
 'Ghosh': 55,
 'deposition': 56,
 '574': 57,
 'Satyanarayana': 58,
 'possess': 59,
 'UTTAR': 60,
 'statistical': 61,
 'Hanuman': 62,
 'Jivraj': 63,
 'do': 64,
 'Oka': 65,
 'shortage': 66,
 'reveals': 67,
 'oblivious': 68,
 'elicit': 69,
 'R.P.': 70,
 'Balkrushna': 71,
 'Sharan': 72,
 'Nalh': 73,
 '72': 74,
 'compulsorily': 75,
 'gracious': 76,
 'Sagar': 77,
 'CGITA': 78,
 '23.01.2011': 79,
 '25.07.04': 80,
 'residuary': 81,
 'P17': 82,
 'Singhal': 83,
 'Nakum': 84,
 'Lakshmiji': 85,
 '7.6': 86,
 'Congregation': 87,
 'lyer': 88,
 'Renjith': 89,
 'no.25': 90,
 'Appellant': 91,
 'resurvey': 92,
 'obtained': 93,
 'buy': 94,
 'DR.D.Y.CHANDRACHUD': 95,
 'Internal': 96,
 'Ramadass': 97,
 'K.S.Hegde': 98,
 'at': 99,
 'disposed': 100,
 'A.K.Vijaya': 101,
 'trust': 102,
 '15(3': 103,
 'file': 104,
 'vesting': 105,
 '3/181': 106,
 '3.18': 107,
 'Debasis': 108,
 'posting': 109,
 'Shrivastava': 110,
 '297': 111,
 'Venkatakrishna': 112,
 '11/01/2013': 113,
 'NO': 114,
 'undue': 115,
 'Jatindranath': 116,
 '4': 117,
 'Motichand': 118,
 '405': 119,
 'better': 120,
 'different': 121,
 'aid': 122,
 'jurisdiction.â€Ÿâ€Ÿ': 123,
 '178(1': 124,
 'bus': 125,
 'Ballia': 126,
 'Upon': 127,
 'Hole': 128,
 'headload': 129,
 'Chauth': 130,
 '1145': 131,
 'tie': 132,
 '.v': 133,
 'Krishi': 134,
 'lessee': 135,
 '20.2.2005': 136,
 'Kumma': 137,
 'Reasons': 138,
 '25': 139,
 'resolved': 140,
 'Damo': 141,
 'KRISHNAMURALI': 142,
 '30/10/2014': 143,
 'F.C.R.': 144,
 'freight': 145,
 '127A': 146,
 'Godghate': 147,
 'Brain': 148,
 'VIRENDRA': 149,
 'Tilakchand': 150,
 'including': 151,
 'No.302/08': 152,
 'Claimant': 153,
 '5.4.1(3': 154,
 '29.1.1982': 155,
 'Pitchayya': 156,
 'flown': 157,
 'WPC.25626/09': 158,
 'No.4119/1999': 159,
 '348(1)(b)(ii': 160,
 'conforming': 161,
 'His': 162,
 'alleging': 163,
 'correctives': 164,
 'gains': 165,
 'Occ': 166,
 'Greene': 167,
 'colleges': 168,
 'Sukesan': 169,
 'No.225': 170,
 'lateral': 171,
 'Saskatchewan': 172,
 'T.S.': 173,
 'Anr': 174,
 'WPC': 175,
 'simple': 176,
 'MEROMER': 177,
 'approaches': 178,
 '635/2007': 179,
 'pluck': 180,
 'Mayur': 181,
 'N.I.A.': 182,
 'parte': 183,
 '1839': 184,
 'sanitary': 185,
 'deducted': 186,
 'deposit': 187,
 'Illustration': 188,
 'sank': 189,
 '12.05.2008': 190,
 'Sivayya': 191,
 'P.W.33': 192,
 'war': 193,
 'beedi': 194,
 'Majesty': 195,
 '619': 196,
 'Chandrala': 197,
 'prejudiced': 198,
 'Centralized': 199,
 'No.11/2000': 200,
 'pronouncements': 201,
 'Sunderlal': 202,
 'B157A': 203,
 'Jethmal': 204,
 'bore': 205,
 'Lords': 206,
 'Nitin': 207,
 'SIKRI': 208,
 'will': 209,
 'carries': 210,
 'faculties': 211,
 'PWS': 212,
 'Advertisements': 213,
 'wide': 214,
 'D.17': 215,
 'Ranga': 216,
 'Bose': 217,
 '724': 218,
 'emanates': 219,
 'storeyed': 220,
 'sell': 221,
 'Chinnappa': 222,
 'cruelty': 223,
 'alarm': 224,
 'Hanifa': 225,
 'fours': 226,
 'acclaimed': 227,
 'SWAROOP': 228,
 'fide': 229,
 'weakness': 230,
 'Bagchi': 231,
 'then': 232,
 'soundness': 233,
 'Kaushik': 234,
 'entitled': 235,
 'Metropolitan': 236,
 'Alleging': 237,
 'case(2': 238,
 'Braithwaite': 239,
 'enabled': 240,
 'Bahera': 241,
 'P7': 242,
 'M.A.C.A.No.850/2016': 243,
 'number': 244,
 '3.The': 245,
 'fictitious': 246,
 'Thaliath': 247,
 'trips': 248,
 'disguise': 249,
 '28/08/2003': 250,
 'mud': 251,
 '179.20': 252,
 'Departmental': 253,
 '19/1998': 254,
 '623': 255,
 'Bhoi': 256,
 'Shakespeare': 257,
 'L&DO': 258,
 'vacations': 259,
 'Arts': 260,
 'connivance': 261,
 'suffering': 262,
 'enhancing': 263,
 'besides': 264,
 '25.4.1998': 265,
 'Ex.11': 266,
 'Forum': 267,
 'Vide': 268,
 'Ramanna': 269,
 'arbital': 270,
 'tenability': 271,
 'palm': 272,
 'Abu': 273,
 'Works.\x14': 274,
 'Tamboli': 275,
 'Role': 276,
 'meritarian': 277,
 'Sheopatsingh': 278,
 'AKS': 279,
 'bighas': 280,
 'learned': 281,
 '7/41': 282,
 'Mittal': 283,
 'C1': 284,
 'forearm': 285,
 'Untrained': 286,
 'Home': 287,
 'Ganges': 288,
 'intercourse': 289,
 'ipsa': 290,
 'Hiren': 291,
 'deteriorated': 292,
 '1161': 293,
 'purohit': 294,
 'Ninth': 295,
 'difference': 296,
 'intends': 297,
 'Sen.': 298,
 'apace': 299,
 'categorical': 300,
 'Sumathi': 301,
 '265': 302,
 'animal': 303,
 '12/12': 304,
 'vehicular': 305,
 'latrines': 306,
 '3(1A': 307,
 'exploited': 308,
 '2008': 309,
 'fitted': 310,
 'rashness': 311,
 'Equity': 312,
 'Barwani': 313,
 'wheelers': 314,
 'objectors': 315,
 'R.S.R.': 316,
 'Dubai': 317,
 'walking': 318,
 'Sub\xadJudge': 319,
 'Islamic': 320,
 'nP.': 321,
 '8(2': 322,
 'No.455/07': 323,
 '19(1': 324,
 'revived': 325,
 'IIIrd': 326,
 'of': 327,
 'Muslim': 328,
 '18.07.2003': 329,
 'observa': 330,
 'bestowed': 331,
 'Anr.v': 332,
 'shridhana': 333,
 'traders': 334,
 '76B': 335,
 'loss': 336,
 'objecting': 337,
 'ANR': 338,
 '5583/2010': 339,
 'DAVANAGERE': 340,
 'engage': 341,
 'unfettered': 342,
 'Swarn': 343,
 'refugees': 344,
 'RSRTC': 345,
 'free': 346,
 'N.N.': 347,
 'Statue': 348,
 'contradicted': 349,
 'allocation': 350,
 '3(1)(c': 351,
 'becoming': 352,
 'dt.15': 353,
 'Purabi': 354,
 '47(16A': 355,
 'A(1': 356,
 'Malout': 357,
 'Statutory': 358,
 'SR': 359,
 '39(1': 360,
 'No.2849': 361,
 'Universal': 362,
 'Consequently': 363,
 'ladies': 364,
 'ana': 365,
 'peace': 366,
 'telescoped': 367,
 'Categorywise': 368,
 'linked': 369,
 'Exports': 370,
 'pumping': 371,
 'Timbuctoo': 372,
 'Barochiya': 373,
 'Kapur': 374,
 'C.M.V.': 375,
 'nos.1': 376,
 'mahazar': 377,
 'Sibirsky': 378,
 'span_2': 379,
 '209': 380,
 '313/281': 381,
 'D1W6/7': 382,
 'legislation': 383,
 'punishments': 384,
 'Prabhu': 385,
 '219/2015': 386,
 'testing': 387,
 'NO.9678': 388,
 'donor': 389,
 'Ramanbai': 390,
 'Abhinav': 391,
 'Jal': 392,
 'Ka': 393,
 'PPR': 394,
 'invalidating': 395,
 'No.337/12': 396,
 'Every': 397,
 'F.A.No.6': 398,
 'B.D.': 399,
 'No.194/2014': 400,
 'Somania': 401,
 'lower': 402,
 'indentures': 403,
 '10027/94': 404,
 'NEPC': 405,
 'True': 406,
 '6(da': 407,
 'Iddat': 408,
 '1(f)(iii': 409,
 'Palji': 410,
 'addresses': 411,
 'demolished': 412,
 'Chunder': 413,
 'Bhakar': 414,
 'P.Ws.1': 415,
 'categorised': 416,
 'No.46/2006': 417,
 'unguided': 418,
 'Biswunath': 419,
 'Officiating': 420,
 'Reliance': 421,
 'ELT': 422,
 'daughters': 423,
 'Paryavaran': 424,
 '001': 425,
 '1162': 426,
 'A4': 427,
 '354': 428,
 'indian': 429,
 'prov': 430,
 'Kajal': 431,
 'shipments': 432,
 'whereas': 433,
 'Subramanyam': 434,
 'explained': 435,
 '14.12.2010': 436,
 'Danas': 437,
 'Kannu': 438,
 'encashment': 439,
 'sentence': 440,
 'Constable': 441,
 'Chandra': 442,
 'Plaza': 443,
 'stood': 444,
 'Craft': 445,
 'generating': 446,
 'collective': 447,
 'Cultex': 448,
 'contributing': 449,
 'occasion': 450,
 'Leave': 451,
 'Rope': 452,
 'aspires': 453,
 'SHAHJAHANPUR': 454,
 'Riazul': 455,
 'forever': 456,
 'weight': 457,
 'launching': 458,
 '647': 459,
 'd': 460,
 'Consolidated': 461,
 'surgical': 462,
 'Rajendrasingh': 463,
 'deterrent': 464,
 'Nirvachan': 465,
 'Faqir': 466,
 'Education': 467,
 'refix': 468,
 'Transmission': 469,
 'WAMP': 470,
 '967/': 471,
 'Saksena': 472,
 'jurisprudence': 473,
 'interpretations': 474,
 'realm': 475,
 'Warden': 476,
 'Indeed': 477,
 'Mills': 478,
 '1168': 479,
 'wagons': 480,
 'merger': 481,
 'woman': 482,
 '14)DW': 483,
 'compare': 484,
 '1640/2011': 485,
 'rays': 486,
 'Lalu': 487,
 'GUJARAT': 488,
 'economy': 489,
 'Nandni': 490,
 '701': 491,
 'unreasonabe': 492,
 'bridge': 493,
 'relevancy': 494,
 'enquired': 495,
 'KUMAR': 496,
 'Ranbir': 497,
 'Kainth': 498,
 '402041': 499,
 'Bhaduris': 500,
 'Ghatol': 501,
 '30th': 502,
 'examine': 503,
 'Tirur': 504,
 'vehicles': 505,
 'fields': 506,
 'Picture': 507,
 'concealed': 508,
 'Gorakh': 509,
 '1984': 510,
 'enter': 511,
 'Boards': 512,
 'incorporation': 513,
 'RULES': 514,
 'time': 515,
 '3008': 516,
 'sale': 517,
 '27/05/2009': 518,
 'Arising': 519,
 'Allowance': 520,
 'SOUTH': 521,
 'Rosiah': 522,
 'Dewan': 523,
 '1(d': 524,
 'inclusion': 525,
 'Cama': 526,
 'answering': 527,
 'thenceforward': 528,
 '115(6': 529,
 '63(6': 530,
 'reversed': 531,
 'Vimla': 532,
 'pristine': 533,
 'Anaikutti': 534,
 'Forensic': 535,
 'Plaint': 536,
 'Bhumiar': 537,
 'subtle': 538,
 'Identical': 539,
 'importers': 540,
 'CX.6': 541,
 'lodged': 542,
 'ME': 543,
 'Madheswar': 544,
 'Bagra': 545,
 'Virender': 546,
 'appealable': 547,
 'J.Chandran': 548,
 '18.09.2009': 549,
 'MTNL': 550,
 'Kota': 551,
 'A.N.': 552,
 'Kaimur': 553,
 'singly': 554,
 'limited': 555,
 'cil': 556,
 'Sadashiva': 557,
 'ward': 558,
 'Evaluation': 559,
 '109': 560,
 'Convict': 561,
 'Chit': 562,
 'Boroughs': 563,
 'A.C.A.': 564,
 'Somasundaram': 565,
 'Narcotics': 566,
 'Christians': 567,
 '154': 568,
 'grammatical': 569,
 'Use': 570,
 'c.m': 571,
 '30.11.1999': 572,
 'Drego': 573,
 'assailants': 574,
 'AT': 575,
 'Scales': 576,
 'pendente': 577,
 'No.20039/2014': 578,
 '17.10.1997': 579,
 'Junagadh': 580,
 'Friday': 581,
 'Dun': 582,
 'Health': 583,
 'Kassab': 584,
 'ss': 585,
 'Nandh': 586,
 'Draupdi': 587,
 'intend': 588,
 'errata': 589,
 'Namita': 590,
 'No.305/2013': 591,
 'CEGAT': 592,
 '97': 593,
 'rupee': 594,
 'Rajah': 595,
 'during': 596,
 'withut': 597,
 'EMI': 598,
 'buildings': 599,
 'inception': 600,
 'requiring': 601,
 'Aks': 602,
 'FS': 603,
 'divergent': 604,
 'convincing': 605,
 '897': 606,
 'Timudu': 607,
 'I.A.No.1500/14': 608,
 'Bahadur': 609,
 'Daljogendra': 610,
 'ICRISAT': 611,
 'lunch': 612,
 'Teena': 613,
 'Return': 614,
 'Shukla': 615,
 'governmental': 616,
 '21.1.2003': 617,
 '165A': 618,
 'Interveners': 619,
 'enforceable': 620,
 '13(1': 621,
 'refunds': 622,
 'automatic': 623,
 'thereagainst': 624,
 '239': 625,
 'No.141/95': 626,
 'clerk': 627,
 'Etawah': 628,
 'The': 629,
 'Acta': 630,
 'Chhatak': 631,
 '44AB': 632,
 'Bombay': 633,
 'Lekha': 634,
 'otner': 635,
 'escapement': 636,
 'city': 637,
 'No.10417/2010': 638,
 'dis': 639,
 '6.It': 640,
 'launch': 641,
 'Bye': 642,
 '21': 643,
 'rig': 644,
 'Yogesh': 645,
 'Haydevbhai': 646,
 'contended': 647,
 '1.6': 648,
 'Link': 649,
 'sq.mtrs': 650,
 'firm': 651,
 'Kureshi': 652,
 'Raja': 653,
 '/\xad': 654,
 'Hindaiya': 655,
 'Punai': 656,
 'Twelve': 657,
 'abused': 658,
 'Muhammed': 659,
 'purity': 660,
 'volume': 661,
 '2526': 662,
 'S.K.': 663,
 'Election': 664,
 'plenary': 665,
 'Ravisankar': 666,
 '269UG': 667,
 'VT': 668,
 'wpL419.13.sxw': 669,
 'canteen': 670,
 '1440': 671,
 'cheek': 672,
 'felt': 673,
 'cancelling': 674,
 'Dey': 675,
 '779': 676,
 'cover': 677,
 'Total': 678,
 'Deepa': 679,
 'finality': 680,
 'K.S.': 681,
 'Kusmaut': 682,
 'Ravinder': 683,
 'lifted': 684,
 'Bajrang': 685,
 'sections': 686,
 'duty': 687,
 'Rs.84': 688,
 'No.11': 689,
 'Vs': 690,
 'Lordships': 691,
 'apology': 692,
 'Superintendent': 693,
 '516': 694,
 '2500/': 695,
 'incurred': 696,
 '120\xadB': 697,
 'Kashmir': 698,
 'tyres': 699,
 'Supras': 700,
 'rumour': 701,
 'Sardari': 702,
 'Narayanan': 703,
 'seas': 704,
 'ordinate': 705,
 '19.10.2012': 706,
 'sachetting': 707,
 'Vipin': 708,
 'judgment': 709,
 'ered': 710,
 'cut': 711,
 'Bhagirath': 712,
 'Ramble': 713,
 'passes': 714,
 'dress': 715,
 'garages': 716,
 'Sanction': 717,
 'fixed': 718,
 'prove': 719,
 'Dhaniram': 720,
 '174': 721,
 'R.Ws': 722,
 'tempo': 723,
 'cognizance': 724,
 'reservations': 725,
 'Tanti': 726,
 '409': 727,
 'LTTE': 728,
 'Talwar': 729,
 'narrow': 730,
 'union': 731,
 'focus': 732,
 'Kala': 733,
 'prisoners': 734,
 'CORPORATION': 735,
 'advertise': 736,
 'Insofar': 737,
 'absconded': 738,
 'Papierwerke': 739,
 'Thirtha': 740,
 'T.M.A.': 741,
 'Mukesh': 742,
 'Asian': 743,
 'Vidheyak': 744,
 'Inn': 745,
 'Others': 746,
 'relate': 747,
 'Declaration': 748,
 '87': 749,
 '17.6.1992': 750,
 'oath': 751,
 'Jaggi': 752,
 'Store': 753,
 'agony': 754,
 '26353': 755,
 'Rajpur': 756,
 'interpreting': 757,
 'child': 758,
 '91001009337929': 759,
 '2/227/54': 760,
 'Mts': 761,
 'Pepsi': 762,
 '155(1)(a)(i': 763,
 'argue': 764,
 'expansion': 765,
 'Noble': 766,
 'attract': 767,
 'Puthupally': 768,
 'nothing': 769,
 'revisionist': 770,
 '528': 771,
 'Loans': 772,
 'Agro': 773,
 'Different': 774,
 'vitiates': 775,
 'shareholders': 776,
 'suspicious': 777,
 'volt': 778,
 'Ess': 779,
 'favor': 780,
 'Apul': 781,
 'Pollock': 782,
 'dissented': 783,
 'foreigners': 784,
 '14.3.2005': 785,
 'Dugar(supra': 786,
 'mistry': 787,
 'Jt': 788,
 'vindammal': 789,
 'praying': 790,
 'NDPS': 791,
 'casualty': 792,
 '27.03.1998': 793,
 '21.05.2012': 794,
 'adopts': 795,
 'intentional': 796,
 'No.10003/31/14/077897': 797,
 'shadow': 798,
 '8.2.1997': 799,
 'retaining': 800,
 'LRs': 801,
 'Sibbal': 802,
 'predecessor': 803,
 'Consolidation': 804,
 'spread': 805,
 'Wherever': 806,
 '499': 807,
 'murders': 808,
 'adjourns': 809,
 'counted': 810,
 'lineman': 811,
 'Inderpuri': 812,
 '.32': 813,
 'habit': 814,
 '4769': 815,
 'Accidents': 816,
 'happy': 817,
 'baggage': 818,
 'NO.322/99': 819,
 'Regina': 820,
 'Monisha': 821,
 'Encyclopaedia': 822,
 'complicated': 823,
 'rami': 824,
 'Out': 825,
 'taxable': 826,
 '725': 827,
 '376(2)(i)/506': 828,
 'W.P.(C).No.7404': 829,
 'entitle': 830,
 '104/96': 831,
 'Copy': 832,
 'weightage': 833,
 '379/': 834,
 'December': 835,
 'negligent': 836,
 'Maloo': 837,
 'Evacuee': 838,
 'L.B.S.': 839,
 'compensate': 840,
 'Jhariya': 841,
 'Nandan': 842,
 'abovementioned': 843,
 'istry': 844,
 '296': 845,
 'Rajesh': 846,
 'S.M.': 847,
 'Datta': 848,
 '1658/80': 849,
 'mokassa': 850,
 'Koja': 851,
 'Panaji': 852,
 'Precision': 853,
 'calling': 854,
 '56(4': 855,
 'relied': 856,
 'Gujran': 857,
 'prizing': 858,
 'Dehati': 859,
 'Sreeramulu': 860,
 'SCJ': 861,
 'provident': 862,
 'BSF': 863,
 'Why': 864,
 'argued': 865,
 'Abhaysingh': 866,
 'supports': 867,
 '2': 868,
 'Vimal': 869,
 'Harekrishna': 870,
 'replaced': 871,
 'Lallan': 872,
 'nourishment': 873,
 'Expln': 874,
 'ASG': 875,
 'maintainable': 876,
 '1877': 877,
 'Aruppukottai': 878,
 'credit': 879,
 'Jagannadha': 880,
 'Kedar': 881,
 '43/2013': 882,
 'chapter': 883,
 'Taluka': 884,
 'Piri': 885,
 '$': 886,
 '604': 887,
 'no.3.2013': 888,
 'afresh': 889,
 'Jitender': 890,
 'bamboo': 891,
 'T.C.': 892,
 'bow': 893,
 'inner': 894,
 'edible': 895,
 '118(a': 896,
 'leasehold': 897,
 '028': 898,
 '3822': 899,
 'issuing': 900,
 'Place': 901,
 'charging': 902,
 'acknowledging': 903,
 'circumscribed': 904,
 'accounted': 905,
 'considers': 906,
 'misapprehension': 907,
 'predatory': 908,
 '140of': 909,
 'mixed': 910,
 'adduce': 911,
 'SEN': 912,
 'altered': 913,
 'sueable': 914,
 'SRI': 915,
 'Balan': 916,
 'children': 917,
 'Madkholkar': 918,
 'Indra': 919,
 'hrs': 920,
 'auditing': 921,
 'Laxanatti': 922,
 '25A': 923,
 'Mohd': 924,
 'R.v': 925,
 'Pat': 926,
 'irrefutable': 927,
 'Kya': 928,
 'emerges': 929,
 'intended': 930,
 'Churiwalan': 931,
 '1737': 932,
 'strikes': 933,
 'Waqfs': 934,
 'aged': 935,
 'E.J.': 936,
 'RAGHUBAR': 937,
 'personum': 938,
 '5584/2010': 939,
 'R3W1': 940,
 'extraction': 941,
 'Jay': 942,
 'N.V.N': 943,
 'Sachnindra': 944,
 'alienate': 945,
 '11.15': 946,
 '196': 947,
 'gets': 948,
 '22.10.74': 949,
 'government': 950,
 'legislations': 951,
 'residing': 952,
 'humbly': 953,
 'Mellore': 954,
 'Extreme': 955,
 '379/411': 956,
 'captured': 957,
 'XVII': 958,
 'substitute': 959,
 'Debit': 960,
 'Aralvoimozhi': 961,
 'newspaper': 962,
 'Bengal': 963,
 '22.07.2009': 964,
 'Shaukat': 965,
 'T.P.': 966,
 'Interim': 967,
 'I.D.': 968,
 'Doshi': 969,
 'reliance': 970,
 'Makhan': 971,
 'fled': 972,
 'key': 973,
 'withstood': 974,
 'P.W': 975,
 'R3': 976,
 'Milk': 977,
 'vendees': 978,
 'Kader': 979,
 '1B': 980,
 'Amodh': 981,
 'Mihijam': 982,
 'Rule': 983,
 'PETITIONER': 984,
 '681': 985,
 'RTR': 986,
 'Bokaro': 987,
 'Rain': 988,
 'dermined': 989,
 'initiating': 990,
 'Brussels': 991,
 'jaw': 992,
 'nephew': 993,
 'Roha': 994,
 'Chanan': 995,
 '3/83': 996,
 'Raghuveer': 997,
 'Jagdishbhai': 998,
 'meet': 999,
 ...}

In [57]:
final_df.to_csv("Final_DataFrame_Train_Judgement")