In [ ]:
!pip install https://huggingface.co/opennyaiorg/en_legal_ner_trf/resolve/main/en_legal_ner_trf-any-py3-none-any.whl
!pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl

In [ ]:
cd '/content/drive/MyDrive/NLP/NLP project/legal_NER-main'

In [ ]:
!pip install -r requirements.txt

In [3]:
import pandas as pd

with open('/content/NER_DEV_JUDGEMENT.json', encoding='utf-8') as inputfile:
    df = pd.read_json(inputfile)

df.to_csv('csvfile.csv', encoding='utf-8', index=False)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
df

,id,annotations,data,meta
0,03f3901e95ed493b866bd7807f623bc0,"[{'result': [{'value': {'start': 10, 'end': 22...","{'text': 'True, our Constitution has no 'due p...",{'source': 'criminal_punjab-haryana_high_court...
1,b0311cba3aac4d909eec6e156c059617,"[{'result': [{'value': {'start': 55, 'end': 65...",{'text': '(See Principles of Statutory Interpr...,{'source': 'financial_rajasthan_high_court jud...
2,0215658407ec479fa4e0e73ca0bf98b6,"[{'result': [{'value': {'start': 101, 'end': 1...","{'text': 'Their Lordships have said -- ""It is...",{'source': 'financial_rajasthan_high_court jud...
3,cf44f4898b67493390f1a8c8c7dfc0cc,"[{'result': [{'value': {'start': 252, 'end': 2...","{'text': 'In para 13 of the plaint, it has bee...",{'source': 'criminal_districtcourts judgement ...
4,f16b5b960a854b18bf171b4cff9b5b11,"[{'result': [{'value': {'start': 169, 'end': 1...",{'text': 'Counsel for appellants contended tha...,{'source': 'tax_telangana_high_court judgement...
...,...,...,...,...
944,ffcb5e8de37c43028bca42ba83852d16,"[{'result': [{'value': {'start': 12, 'end': 23...","{'text': 'Apparently, Channaraddi set up his d...",{'source': 'tax_karnataka_high_court judgement...
945,e848804c6a014d21afeba933b1dcc73a,"[{'result': [{'value': {'start': 89, 'end': 11...",{'text': 'After the dismissal of the petition ...,{'source': 'civil_andhra_high_court judgement ...
946,47f8e3fac6924cfaaa8f9a7194aee871,"[{'result': [{'value': {'start': 3, 'end': 13,...","{'text': 'On 12.07.2018, a letter was received...",{'source': 'industrial&labour_supremecourts ju...
947,5eeb09ca4608463cb64b0d8ee72a4a21,[{'result': []}],{'text': 'The date on which the measurements w...,{'source': 'constitution_karnataka_high_court ...
948,3b0159015274461ba9cf5c0139997370,[{'result': []}],{'text': 'The lower back end was 5 cm behind r...,{'source': 'criminal_kerala_high_court judgeme...

In [5]:
from torch import cuda
device = 'cuda' if cuda.is_available() else 'cpu'
print(device)

cuda

## Text Preprocessing

### Preproceesing annotations start

In [6]:
annotations_column = df['annotations']

In [7]:
annotations_column =  annotations_column.to_numpy()

In [8]:
annotation_start = []
annotation_end = []


for sent in annotations_column:
  sent_start = []
  sent_end = []
  sent_text = []
  sent_label = []
  for sent_res in sent:
    for res_value in sent_res['result']:
      sent_start.append(res_value['value']['start'])

    for res_value in sent_res['result']:
      sent_end.append(res_value['value']['end'])
    


  annotation_start.append(sent_start)
  annotation_end.append(sent_end)

In [9]:
annotation_start[0]

[10, 108, 160]

In [10]:
len(annotation_end)

949

In [11]:
annotation_text = []
annotation_label = []
for sent in annotations_column:
    sent_text = []
    sent_label = []
    for sent_res in sent:

        for res_value in sent_res['result']:
          sent_text.append(res_value['value']['text'])
        
        for res_value in sent_res['result']:
          sent_label.append(res_value['value']['labels']) 

    annotation_text.append(sent_text)
    annotation_label.append(sent_label)

In [12]:
annotation_text[0]

['Constitution',
 'R.C. Cooper v. Union of India, (1970) 1 SCC 248',
 'Maneka Gandhi v. Union of India, (1978) 1 SCC 248']

In [13]:
annotation_label[0]

[['STATUTE'], ['PRECEDENT'], ['PRECEDENT']]

In [14]:
column_names = ['start', 'end' , 'text' , 'labels']

final_df = pd.DataFrame()
final_df['start'] = annotation_start
final_df['end'] = annotation_end
final_df['text'] = annotation_text
final_df['labels'] = annotation_label

final_df.head()

,start,end,text,labels
0,"[10, 108, 160]","[22, 155, 209]","[Constitution, R.C. Cooper v. Union of India, ...","[[STATUTE], [PRECEDENT], [PRECEDENT]]"
1,[55],[65],[G.P. Singh],[[JUDGE]]
2,"[101, 134]","[108, 140]","[England, Heydon]","[[GPE], [OTHER_PERSON]]"
3,"[252, 313]","[262, 318]","[29/12/2004, Delhi]","[[DATE], [GPE]]"
4,"[169, 275, 294]","[175, 286, 326]","[Rule 2, Section 172, Hyderabad Land Revenue A...","[[PROVISION], [PROVISION], [STATUTE]]"

In [15]:
for a,b,c,d in zip(annotation_start[:2], annotation_end[:2],annotation_text[:2],annotation_label[:2]):
  print(a,b,c,d)

[10, 108, 160] [22, 155, 209] ['Constitution', 'R.C. Cooper v. Union of India, (1970) 1 SCC 248', 'Maneka Gandhi v. Union of India, (1978) 1 SCC 248'] [['STATUTE'], ['PRECEDENT'], ['PRECEDENT']]
[55] [65] ['G.P. Singh'] [['JUDGE']]

In [16]:
zip(annotation_start[0], annotation_end[0])

In [17]:
pwd

'/content'

In [18]:
final_df.to_csv('Processed_DataFrame_Dev')

## IOB tagging

In [19]:
import pandas as pd

df_ = pd.read_csv('/content/Processed_DataFrame_Dev')
df_.head()

,Unnamed: 0,start,end,text,labels
0,0,"[10, 108, 160]","[22, 155, 209]","['Constitution', 'R.C. Cooper v. Union of Indi...","[['STATUTE'], ['PRECEDENT'], ['PRECEDENT']]"
1,1,[55],[65],['G.P. Singh'],[['JUDGE']]
2,2,"[101, 134]","[108, 140]","['England', 'Heydon']","[['GPE'], ['OTHER_PERSON']]"
3,3,"[252, 313]","[262, 318]","['29/12/2004', 'Delhi']","[['DATE'], ['GPE']]"
4,4,"[169, 275, 294]","[175, 286, 326]","['Rule 2', 'Section 172', 'Hyderabad Land Reve...","[['PROVISION'], ['PROVISION'], ['STATUTE']]"

In [20]:
text = df.iloc[[0]]['data']

In [21]:
text[0]['text']

"True, our Constitution has no 'due process' clause or the VIII Amendment; but, in this branch of law, after R.C. Cooper v. Union of India, (1970) 1 SCC 248 and Maneka Gandhi v. Union of India, (1978) 1 SCC 248, the consequence is the same."

In [22]:
import spacy
nlp = spacy.load('en_core_web_sm')

doc = nlp(text[0]['text'])

for d in doc:
  print(d.text)

True
,
our
Constitution
has
no
'
due
process
'
clause
or
the
VIII
Amendment
;
but
,
in
this
branch
of
law
,
after
R.C.
Cooper
v.
Union
of
India
,
(
1970
)
1
SCC
248
and
Maneka
Gandhi
v.
Union
of
India
,
(
1978
)
1
SCC
248
,
the
consequence
is
the
same
.

In [23]:
import re
t = re.sub('\n', " ", text[0]['text'])

In [24]:
" ".join(t.split())

"True, our Constitution has no 'due process' clause or the VIII Amendment; but, in this branch of law, after R.C. Cooper v. Union of India, (1970) 1 SCC 248 and Maneka Gandhi v. Union of India, (1978) 1 SCC 248, the consequence is the same."

In [25]:
df['data']

0      {'text': 'True, our Constitution has no 'due p...
1      {'text': '(See Principles of Statutory Interpr...
2      {'text': 'Their Lordships have said --  "It is...
3      {'text': 'In para 13 of the plaint, it has bee...
4      {'text': 'Counsel for appellants contended tha...
                             ...
944    {'text': 'Apparently, Channaraddi set up his d...
945    {'text': 'After the dismissal of the petition ...
946    {'text': 'On 12.07.2018, a letter was received...
947    {'text': 'The date on which the measurements w...
948    {'text': 'The lower back end was 5 cm behind r...
Name: data, Length: 949, dtype: object

In [26]:
def preprocess(sent):
  sent = re.sub('\n', " ", sent)
  sent = sent.replace("...", " ")
  sent = " ".join(sent.split())

  return sent


clean_text = []
for i in df['data']:
  clean_text.append(preprocess(i['text']))

In [27]:
len(clean_text)

949

In [28]:
df_['clean_text'] = clean_text

In [29]:
df_.head()

,Unnamed: 0,start,end,text,labels,clean_text
0,0,"[10, 108, 160]","[22, 155, 209]","['Constitution', 'R.C. Cooper v. Union of Indi...","[['STATUTE'], ['PRECEDENT'], ['PRECEDENT']]","True, our Constitution has no 'due process' cl..."
1,1,[55],[65],['G.P. Singh'],[['JUDGE']],(See Principles of Statutory Interpretation by...
2,2,"[101, 134]","[108, 140]","['England', 'Heydon']","[['GPE'], ['OTHER_PERSON']]","Their Lordships have said -- ""It is a sound ru..."
3,3,"[252, 313]","[262, 318]","['29/12/2004', 'Delhi']","[['DATE'], ['GPE']]","In para 13 of the plaint, it has been further ..."
4,4,"[169, 275, 294]","[175, 286, 326]","['Rule 2', 'Section 172', 'Hyderabad Land Reve...","[['PROVISION'], ['PROVISION'], ['STATUTE']]",Counsel for appellants contended that who is t...

In [30]:
s = df_.iloc[0]['clean_text']

for i in range(7,40):
  print(s[i])

u
r

C
o
n
s
t
i
t
u
t
i
o
n

h
a
s

n
o

'
d
u
e

p
r
o
c
e

In [31]:
df_.iloc[1]['clean_text']

import spacy
nlp = spacy.load('en_core_web_sm')

doc = nlp(df_.iloc[0]['clean_text'])

print(doc[0])

True

In [32]:
span = doc.char_span(73,100,label = "COURT")
span

## New solution

In [33]:
def sentence_cleaner(sentence):
    '''
    replacing the unwanted charachters
    '''
    reg = re.compile("[\w]*[\w.]*\w[\w']*\w[\w\/]*|[\w\/O]")
    return " ".join(reg.findall(sentence.replace('\n', ' '))).replace(" / ", '/')

In [34]:
def sentence_cleaner_v1(sentence):
    '''
    replacing the unwanted charachters
    '''
    sent_1 = " ".join(sentence.replace("\n" , " ").replace("..." , " ").replace("-", " ").replace("," , " ").replace(":" , " ").replace("=",  " ").split())
    doc = nlp(sent_1)
    doc_list = []
    for i in doc:
      doc_list.append(str(i))
    return doc_list

In [35]:
def sentence_tagging(sent, annotation):

  #creating dictonary to store word to entity
  word2ent = {}
  sent = sent['text']
  for ann in (annotation[0]['result']):
    temp_sent = (sent[ ann['value']['start']: ann['value']['end']]).split()
    
    #Customized IOBE tagging

    temp_len = len(temp_sent)
    #print(temp_sent,temp_len)
    if temp_len > 1 :
        for i in range(temp_len):
            #print(i, temp_len - 1)
            if i == 0 :
              word2ent[temp_sent[i]] =  "B-" + ann['value']['labels'][0]
            
            elif i == (temp_len - 1):
              word2ent[temp_sent[i]] =  "E-" + ann['value']['labels'][0]

            else :
              word2ent[temp_sent[i]] =  "I-" + ann['value']['labels'][0]

    else :
        word2ent[temp_sent[0]] = "B-" + ann['value']['labels'][0]

  #adding 'O' tag
  sent = sentence_cleaner(sent)
  sent = sent.split()
  tag_list = []
  for word in sent:
      #print(word)
      if word not in word2ent.keys() and word + ',' not in word2ent.keys() :
        
        word2ent[word] = "O"
        #print(word , word2ent[word])
        tag_list.append(word2ent[word])
      
      else :
          tag_list.append(word2ent[word])
  
  
  print(word2ent )
  return tag_list

In [36]:
def sentence_tagging_v1(sent, annotation):

  #creating dictonary to store word to entity
  word2ent = {}
  sent = sent['text']
  for ann in (annotation[0]['result']):
    temp_sent = (sent[ ann['value']['start']: ann['value']['end']]).split()
    
    #Customized IOBE tagging

    temp_len = len(temp_sent)
    #print(temp_sent,word2ent)
    for i in range(temp_len):
        #print(i, temp_len - 1)
        #assign empty list if word not present in dictonary
        if temp_sent[i] not in word2ent:
            word2ent[temp_sent[i]] = []

        if i == 0 :
          word2ent[temp_sent[i]].append("B-" + ann['value']['labels'][0])
        
        elif i == (temp_len - 1):
          word2ent[temp_sent[i]].append("E-" + ann['value']['labels'][0])

        else :
          word2ent[temp_sent[i]].append("I-" + ann['value']['labels'][0])

  #adding 'O' tag
  sent = sentence_cleaner(sent)
  sent = sent.split()
  tag_list = []
  for word in sent:
      #print(word)
      if word not in word2ent.keys():
        
        word2ent[word] = "O"
        #print(word , word2ent[word])
      tag_list.append(word2ent[word])
      
  
  
  #print(word2ent )
  return tag_list

In [37]:
def sentence_tagging_v2(sent, annotation):

  """
  current using word
  """

  #creating dictonary to store word to entity
  word2ent = {}
  sent = sent['text']
  for ann in (annotation[0]['result']):
    temp_sent = sentence_cleaner_v1(sent[ ann['value']['start']: ann['value']['end']])
    
    #Customized IOBE tagging

    temp_len = len(temp_sent)
    #print(temp_sent,word2ent)
    for i in range(temp_len):
        #print(i, temp_len - 1)
        #assign empty list if word not present in dictonary
        if temp_sent[i] not in word2ent:
            word2ent[temp_sent[i]] = []

        if i == 0 :
          word2ent[temp_sent[i]].append("B-" + ann['value']['labels'][0])
        
        elif i == (temp_len - 1):
          word2ent[temp_sent[i]].append("E-" + ann['value']['labels'][0])

        else :
          word2ent[temp_sent[i]].append("I-" + ann['value']['labels'][0])

  #adding 'O' tag
  sent = sentence_cleaner_v1(sent)
  tag_list = []
  for word in sent:
      #print(word)
      if word not in word2ent.keys():
        tag = "O"
      else :
        if len(word2ent[word]) != 0 :
          tag = word2ent[word].pop(0)
        else :
          tag = "O"

      #print(word,tag)   
      tag_list.append(str(tag))
      
  
  
  #print(word2ent )
  return tag_list

In [38]:
IOBE_tagging = []
i = 0
for sent, anno in zip( df['data'].to_list(), df['annotations'].to_list()):
    IOBE_tagging.append(sentence_tagging_v2(sent,anno))

In [39]:
IOBE_tagging[2]

['O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-GPE',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-OTHER_PERSON',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O']

In [40]:
final_df['tags'] = IOBE_tagging
final_df.head()

,start,end,text,labels,tags
0,"[10, 108, 160]","[22, 155, 209]","[Constitution, R.C. Cooper v. Union of India, ...","[[STATUTE], [PRECEDENT], [PRECEDENT]]","[O, O, B-STATUTE, O, O, O, O, O, O, O, O, O, O..."
1,[55],[65],[G.P. Singh],[[JUDGE]],"[O, O, O, O, O, O, O, O, B-JUDGE, E-JUDGE, O, ..."
2,"[101, 134]","[108, 140]","[England, Heydon]","[[GPE], [OTHER_PERSON]]","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
3,"[252, 313]","[262, 318]","[29/12/2004, Delhi]","[[DATE], [GPE]]","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
4,"[169, 275, 294]","[175, 286, 326]","[Rule 2, Section 172, Hyderabad Land Revenue A...","[[PROVISION], [PROVISION], [STATUTE]]","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."

In [41]:
sent_1 = df['data'].to_list()[2]['text']
sent_1

'Their Lordships have said --  "It is a sound rule of construction of a statute firmly established in England as far back as 1584 when Heydon\'s case was decided that --"......'

In [ ]:
# tag_2 = final_df['tags'].to_list()[77]
# tag_2

In [42]:
# [\w]*[\w.]*\w[\w']*\w[\w\/]*|[\w\/O]

reg = re.compile("[\w]*[\w.]*\w[\w']*\w[\w\/]*|[\w\/O]")
" ".join(reg.findall(sent_1.replace('\n', ' '))).replace(" / ", '/')

"Their Lordships have said It is a sound rule of construction of a statute firmly established in England as far back as 1584 when Heydon's case was decided that"

In [43]:
" ".join(sent_1.replace(" "," ").split())

'Their Lordships have said -- "It is a sound rule of construction of a statute firmly established in England as far back as 1584 when Heydon\'s case was decided that --"......'

In [44]:
word2count = {}

for sent in df['data'].to_list():
    for word in sent['text'].split():
        if word not in word2count:
          word2count[word] = 0
        else:
          word2count[word] += 1

In [45]:
for key in word2count.keys():
  if re.search(r'\bM+\b', key):
    print(key)

M.D.
Mr.L.M.Menezes
M/s
M.A.C.M.A.
M/s.Maheswari
M.L.
M.P.;
M/s.
Crl.M.C.2719
M.P.
MHC(M)
MM
M.P
M.
Smt.M.Printer
A.M.
M.Philip
O.M.
M.C.O.P.No.2224
P.M
A.M
P.M.,
M.Anil
M.A.C.M.A.No.685
M.A.C.M.A.No.1233
(O&M)
M.Thombra
M/S.Evershine
M.R.
M

## Using Tokenizer

In [46]:
from spacy.tokenizer import Tokenizer
from spacy.lang.en import English
nlp = English()

In [47]:
sent_1 = " ".join(sent_1.replace("\n" , " ").replace("..." , " ").replace("-", "").split())
doc = nlp(sent_1)
doc_list = []
for i in doc:
  doc_list.append(str(i))
doc_list

['Their',
 'Lordships',
 'have',
 'said',
 '"',
 'It',
 'is',
 'a',
 'sound',
 'rule',
 'of',
 'construction',
 'of',
 'a',
 'statute',
 'firmly',
 'established',
 'in',
 'England',
 'as',
 'far',
 'back',
 'as',
 '1584',
 'when',
 'Heydon',
 "'s",
 'case',
 'was',
 'decided',
 'that',
 '"']

# Clean the sentences

In [48]:
clean_sentences = []

for sent in df['data'].to_list():
    clean_sentences.append(sentence_cleaner_v1(sent['text']))

In [49]:
final_df['clean_sent'] = clean_sentences
final_df.head()

,start,end,text,labels,tags,clean_sent
0,"[10, 108, 160]","[22, 155, 209]","[Constitution, R.C. Cooper v. Union of India, ...","[[STATUTE], [PRECEDENT], [PRECEDENT]]","[O, O, B-STATUTE, O, O, O, O, O, O, O, O, O, O...","[True, our, Constitution, has, no, ', due, pro..."
1,[55],[65],[G.P. Singh],[[JUDGE]],"[O, O, O, O, O, O, O, O, B-JUDGE, E-JUDGE, O, ...","[(, See, Principles, of, Statutory, Interpreta..."
2,"[101, 134]","[108, 140]","[England, Heydon]","[[GPE], [OTHER_PERSON]]","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[Their, Lordships, have, said, "", It, is, a, s..."
3,"[252, 313]","[262, 318]","[29/12/2004, Delhi]","[[DATE], [GPE]]","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[In, para, 13, of, the, plaint, it, has, been,..."
4,"[169, 275, 294]","[175, 286, 326]","[Rule 2, Section 172, Hyderabad Land Revenue A...","[[PROVISION], [PROVISION], [STATUTE]]","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[Counsel, for, appellants, contended, that, wh..."

## Word2idx

In [50]:
def get_dict_map(df , token_or_tag):
    """
    converts word to index

    [Need changes !!!]
    """
    tok2idx = {}
    idx2tok = {}

    vocab = []

    if token_or_tag == 'token':
        for sent in df['clean_sent'].to_list():
          vocab.extend( list(set(sent)) )

        vocab = set(vocab)

    else :
        for sent in df['tags'].to_list():
          vocab.extend( list(set(sent)) )
        
        vocab = set(vocab)


    idx2tok = {idx:tok for idx , tok in enumerate(vocab)}
    tok2idx = {tok:idx for idx , tok in enumerate(vocab)}

    return tok2idx, idx2tok



word2idx, idx2word = get_dict_map(final_df, 'token')
# tag2idx, idx2tag = get_dict_map(final_df, 'tag')

In [51]:
import json
 
# Opening JSON file
with open('tag2idx_Judgement') as tag2idx_file:
    tag2idx = json.load(tag2idx_file)

In [52]:
import json
 
# Opening JSON file
with open('idx2tag_Judgement') as idx2tag_file:
    idx2tag = json.load(idx2tag_file)

In [53]:
tag2idx

{'E-RESPONDENT': 0,
 'B-RESPONDENT': 1,
 'O': 2,
 'B-GPE': 3,
 'I-OTHER_PERSON': 4,
 'B-PROVISION': 5,
 'E-ORG': 6,
 'E-PROVISION': 7,
 'E-GPE': 8,
 'B-STATUTE': 9,
 'B-JUDGE': 10,
 'B-ORG': 11,
 'E-JUDGE': 12,
 'B-OTHER_PERSON': 13,
 'I-WITNESS': 14,
 'I-DATE': 15,
 'I-PROVISION': 16,
 'I-COURT': 17,
 'I-CASE_NUMBER': 18,
 'B-PETITIONER': 19,
 'I-PRECEDENT': 20,
 'I-JUDGE': 21,
 'E-CASE_NUMBER': 22,
 'I-ORG': 23,
 'E-OTHER_PERSON': 24,
 'B-WITNESS': 25,
 'I-PETITIONER': 26,
 'E-WITNESS': 27,
 'E-PRECEDENT': 28,
 'B-CASE_NUMBER': 29,
 'B-PRECEDENT': 30,
 'I-GPE': 31,
 'I-RESPONDENT': 32,
 'B-DATE': 33,
 'E-DATE': 34,
 'I-STATUTE': 35,
 'B-COURT': 36,
 'E-COURT': 37,
 'E-PETITIONER': 38,
 'E-STATUTE': 39}

In [54]:
idx2tag

{'0': 'E-RESPONDENT',
 '1': 'B-RESPONDENT',
 '2': 'O',
 '3': 'B-GPE',
 '4': 'I-OTHER_PERSON',
 '5': 'B-PROVISION',
 '6': 'E-ORG',
 '7': 'E-PROVISION',
 '8': 'E-GPE',
 '9': 'B-STATUTE',
 '10': 'B-JUDGE',
 '11': 'B-ORG',
 '12': 'E-JUDGE',
 '13': 'B-OTHER_PERSON',
 '14': 'I-WITNESS',
 '15': 'I-DATE',
 '16': 'I-PROVISION',
 '17': 'I-COURT',
 '18': 'I-CASE_NUMBER',
 '19': 'B-PETITIONER',
 '20': 'I-PRECEDENT',
 '21': 'I-JUDGE',
 '22': 'E-CASE_NUMBER',
 '23': 'I-ORG',
 '24': 'E-OTHER_PERSON',
 '25': 'B-WITNESS',
 '26': 'I-PETITIONER',
 '27': 'E-WITNESS',
 '28': 'E-PRECEDENT',
 '29': 'B-CASE_NUMBER',
 '30': 'B-PRECEDENT',
 '31': 'I-GPE',
 '32': 'I-RESPONDENT',
 '33': 'B-DATE',
 '34': 'E-DATE',
 '35': 'I-STATUTE',
 '36': 'B-COURT',
 '37': 'E-COURT',
 '38': 'E-PETITIONER',
 '39': 'E-STATUTE'}

In [55]:
"""
Padding and converting from word sequence to index sequence

"""

max_len = max([len(sent) for sent in final_df['clean_sent'].tolist()])
pad_idx = len(word2idx)
tag_pad_idx = tag2idx['O']
word_idx_sequence = []
tag_idx_sequence = []
pad = "PAD"

for sent in final_df['clean_sent'].to_list():
    #print(sent)
    word_idx_sequence.append([word2idx[word] for word in sent] + [pad_idx for _ in range(max_len - len(sent))])


for tag_seq in final_df['tags'].to_list():
    tag_idx_sequence.append([tag2idx[tag] for tag in tag_seq] + [tag_pad_idx for _ in range(max_len - len(tag_seq))])

In [56]:
final_df['word_idx'] = word_idx_sequence
final_df['tag_idx'] = tag_idx_sequence

In [57]:
len(tag2idx)

40

In [58]:
tag2idx

{'E-RESPONDENT': 0,
 'B-RESPONDENT': 1,
 'O': 2,
 'B-GPE': 3,
 'I-OTHER_PERSON': 4,
 'B-PROVISION': 5,
 'E-ORG': 6,
 'E-PROVISION': 7,
 'E-GPE': 8,
 'B-STATUTE': 9,
 'B-JUDGE': 10,
 'B-ORG': 11,
 'E-JUDGE': 12,
 'B-OTHER_PERSON': 13,
 'I-WITNESS': 14,
 'I-DATE': 15,
 'I-PROVISION': 16,
 'I-COURT': 17,
 'I-CASE_NUMBER': 18,
 'B-PETITIONER': 19,
 'I-PRECEDENT': 20,
 'I-JUDGE': 21,
 'E-CASE_NUMBER': 22,
 'I-ORG': 23,
 'E-OTHER_PERSON': 24,
 'B-WITNESS': 25,
 'I-PETITIONER': 26,
 'E-WITNESS': 27,
 'E-PRECEDENT': 28,
 'B-CASE_NUMBER': 29,
 'B-PRECEDENT': 30,
 'I-GPE': 31,
 'I-RESPONDENT': 32,
 'B-DATE': 33,
 'E-DATE': 34,
 'I-STATUTE': 35,
 'B-COURT': 36,
 'E-COURT': 37,
 'E-PETITIONER': 38,
 'E-STATUTE': 39}

In [59]:
word2idx

{'provide': 0,
 'Guwahati': 1,
 'Breeders': 2,
 'stressed': 3,
 'pleadings': 4,
 'Vishal': 5,
 '072': 6,
 'shifts': 7,
 'namely': 8,
 'office': 9,
 'integra': 10,
 'Magsha': 11,
 'incapable': 12,
 'significance': 13,
 'law': 14,
 'clarified': 15,
 '9': 16,
 '9360': 17,
 'survive': 18,
 'PW13': 19,
 'From': 20,
 'consecutive': 21,
 'Marwah': 22,
 'quality': 23,
 'tile': 24,
 'makers': 25,
 'bringing': 26,
 'level': 27,
 'Reshma': 28,
 'know': 29,
 'US': 30,
 'Constable': 31,
 'PW2': 32,
 'produce': 33,
 'recruit': 34,
 'Reserve': 35,
 'words': 36,
 'effectively': 37,
 'nowhere': 38,
 'achieve': 39,
 'No.12': 40,
 '6520': 41,
 'held': 42,
 'misconduct': 43,
 'type': 44,
 'retrospective': 45,
 'Versus': 46,
 'Mihir': 47,
 'Bukkarayasamudram': 48,
 'Mukesh': 49,
 'proviso': 50,
 'venue': 51,
 'hulla': 52,
 'Generation': 53,
 'devise': 54,
 'draft': 55,
 'ratio': 56,
 'Portfolio': 57,
 'Konavalov': 58,
 'http': 59,
 'Krishna': 60,
 'southern': 61,
 'never': 62,
 'PW\xad5': 63,
 'Aligarh': 64,
 'Gurudwara': 65,
 'assertive': 66,
 'Ramachandra': 67,
 'number': 68,
 'Copper': 69,
 'disregard': 70,
 'Govinda': 71,
 'competent': 72,
 'Annadurai': 73,
 'Mandal': 74,
 'subsequently': 75,
 'trolley': 76,
 'compensation': 77,
 'meritorious': 78,
 'only': 79,
 'correctness': 80,
 'Bhagwanpura': 81,
 'Online': 82,
 '36(2': 83,
 'Sharma14': 84,
 '*': 85,
 'manufacture': 86,
 'sides': 87,
 'charge': 88,
 'KHC': 89,
 'among': 90,
 'Abdul': 91,
 'PW1/2': 92,
 'certificates': 93,
 'Aghore': 94,
 'Identity': 95,
 'organisation': 96,
 '139(5': 97,
 'shares': 98,
 'â€™s': 99,
 'Where': 100,
 'trial': 101,
 'Bengal36': 102,
 'Forest': 103,
 'furnishing': 104,
 'effectuate': 105,
 'cancel': 106,
 'technical': 107,
 'demarcating': 108,
 '637/': 109,
 'GOVERNMENT': 110,
 'Cabinet': 111,
 '14.10.2008': 112,
 'opinion': 113,
 '[': 114,
 'tahsils': 115,
 'Registration': 116,
 'Safai': 117,
 'Maneka': 118,
 'recog': 119,
 'Firstly': 120,
 'Sheikh': 121,
 'photographed': 122,
 'reliance': 123,
 'AND': 124,
 'W.A.Nos.157': 125,
 'Jagirdar': 126,
 'personam': 127,
 'Doddabidarakallu': 128,
 'Rights': 129,
 'Narasimha': 130,
 'North': 131,
 'Thus': 132,
 'implicit': 133,
 'Properties': 134,
 'conferred': 135,
 'Penal': 136,
 'remaining': 137,
 'Magnum': 138,
 'presumptions': 139,
 'Chandigarh': 140,
 'Pledgor': 141,
 'U.P.': 142,
 'expose': 143,
 'RFCTLARR': 144,
 'successor': 145,
 'Yeshavanthpura': 146,
 'institution': 147,
 'forgery': 148,
 'NIA': 149,
 'No.4': 150,
 'vista': 151,
 'clearly': 152,
 'outside': 153,
 'chopper': 154,
 'murder': 155,
 'makes': 156,
 'regardless': 157,
 'examined': 158,
 'duty': 159,
 'disability': 160,
 'Gollapalli': 161,
 'United': 162,
 'Colony': 163,
 'fees': 164,
 'viability': 165,
 'Country': 166,
 'behalf': 167,
 'Tennesee': 168,
 'C.C.13916': 169,
 'Habibullah': 170,
 'VIDEO': 171,
 'â€ž': 172,
 'partly': 173,
 'Chowhan': 174,
 'Mukhed': 175,
 'Pattadari': 176,
 '8.F.20(12)2019': 177,
 'obvious': 178,
 'NPV': 179,
 '795': 180,
 'CPC': 181,
 'coverings': 182,
 'No.196': 183,
 'Ã ': 184,
 'Jammu': 185,
 'Vittal': 186,
 'accordingly': 187,
 'Supra': 188,
 'vis': 189,
 'commissioning': 190,
 'liberal': 191,
 'husbandry': 192,
 'Rajasthan': 193,
 '80': 194,
 'D.W.1': 195,
 'At': 196,
 'administration': 197,
 'looking': 198,
 'meters': 199,
 'suggest': 200,
 'Devanur': 201,
 'essentially': 202,
 'Protection': 203,
 'expulsion': 204,
 'extract': 205,
 '38': 206,
 'Manohar': 207,
 'MHC(M': 208,
 'bomb': 209,
 'A2': 210,
 'ensuring': 211,
 'retrieve': 212,
 'Shankarlal': 213,
 'Satellite': 214,
 'Smt': 215,
 'Chellaghatta': 216,
 'notice': 217,
 'wp_20707_2018&batch': 218,
 'appears': 219,
 'mob': 220,
 '166': 221,
 'van': 222,
 'Nakul': 223,
 'supranational': 224,
 '1997': 225,
 'pages': 226,
 '110': 227,
 'vigilance': 228,
 'Sciences': 229,
 'Park': 230,
 '843': 231,
 'Mi': 232,
 'CW': 233,
 'referred': 234,
 'logical': 235,
 'Sitapur': 236,
 'demanding': 237,
 '181': 238,
 '309': 239,
 'conviction': 240,
 'secret': 241,
 '115': 242,
 'Hanuman': 243,
 'Department': 244,
 'fixing': 245,
 'encashment': 246,
 'animal': 247,
 'No.969/2022': 248,
 'really': 249,
 'Dharmasala': 250,
 'Rukmani': 251,
 'National': 252,
 'Savitri': 253,
 'KM': 254,
 'Wages': 255,
 'M': 256,
 '10th': 257,
 '130': 258,
 '1977': 259,
 'Arms': 260,
 'responsible': 261,
 'points': 262,
 'governing': 263,
 'patients': 264,
 'sustained': 265,
 'Sarvate': 266,
 'social': 267,
 'September': 268,
 'DDA': 269,
 'pass': 270,
 'Cooper': 271,
 'done': 272,
 'PROPERTY': 273,
 'continuously': 274,
 'save': 275,
 'Laxmaiah': 276,
 'Mahwa': 277,
 'shop': 278,
 'Town': 279,
 'Case': 280,
 'Article': 281,
 'Poddar': 282,
 'Refugee': 283,
 'issuing': 284,
 'nail': 285,
 'huge': 286,
 'appointed': 287,
 'promoted': 288,
 'thereunder': 289,
 'firmly': 290,
 'context': 291,
 'grade': 292,
 '25/27': 293,
 'remission': 294,
 'Ramjisharan': 295,
 'both': 296,
 'indeed': 297,
 'Municipal': 298,
 'structure': 299,
 'enforcing': 300,
 'XXI': 301,
 'declare': 302,
 'tension': 303,
 'Karmachari': 304,
 'Indtel': 305,
 'cm': 306,
 'so': 307,
 'lessor': 308,
 'additional': 309,
 'TVK': 310,
 'procedures': 311,
 '1995': 312,
 '12th': 313,
 'identical': 314,
 'Vidisha': 315,
 'other': 316,
 'plots': 317,
 'life': 318,
 'again': 319,
 'contradictions': 320,
 'No.48': 321,
 '6.7': 322,
 'let': 323,
 'relation': 324,
 'Puranchand': 325,
 'fly': 326,
 '77': 327,
 'grievances': 328,
 '34(6': 329,
 'mandates': 330,
 '17.1': 331,
 'GKN': 332,
 'nazul': 333,
 '35': 334,
 '1990': 335,
 'version': 336,
 'Arbitration': 337,
 'Omerga': 338,
 'M.Philip': 339,
 'adjustment': 340,
 'Vinay': 341,
 'No.2': 342,
 'policy': 343,
 'Verma': 344,
 'documentary': 345,
 'Vijayalakshmi': 346,
 'highlighted': 347,
 'roof': 348,
 'amicus': 349,
 'complete': 350,
 'take': 351,
 'inserting': 352,
 'Mill': 353,
 '96': 354,
 'Purohit': 355,
 '4633': 356,
 'Nath': 357,
 'continued': 358,
 'Patent': 359,
 'O.P.(C)No.446': 360,
 'Punjab': 361,
 'other.8': 362,
 'corporations': 363,
 '53': 364,
 'TOWARDS': 365,
 '2021(10': 366,
 '19.12.2012': 367,
 'tertained': 368,
 '41': 369,
 'question': 370,
 'region': 371,
 'granted': 372,
 'Muslim': 373,
 'Bharathidasan': 374,
 'Assessing': 375,
 'void': 376,
 'Iqbal': 377,
 'ANDHRA': 378,
 'O.S.No.16217/2000': 379,
 'process': 380,
 'length': 381,
 'after': 382,
 '30.10.2004': 383,
 'local': 384,
 'Begum': 385,
 'exists': 386,
 'No.11': 387,
 'confession': 388,
 '23/2019': 389,
 'Complex': 390,
 'MANU': 391,
 'RPC': 392,
 'dacoits': 393,
 'M.Printer': 394,
 '13.03.2008': 395,
 'Page': 396,
 'figures': 397,
 'relates': 398,
 'Assets': 399,
 'factors': 400,
 'intended': 401,
 '468': 402,
 'Mutt': 403,
 'Moodala': 404,
 '13.01.2021': 405,
 'G.O.Ms': 406,
 'earnest': 407,
 'Veer': 408,
 '3rd': 409,
 '5': 410,
 '2216': 411,
 'albeit': 412,
 'SPS_3of1998.odt': 413,
 'Barnet': 414,
 'shot': 415,
 'Ramesh': 416,
 'Hashim': 417,
 'acquired': 418,
 'means': 419,
 'central': 420,
 'people': 421,
 'defeat': 422,
 'No.776': 423,
 '2018': 424,
 'Financial': 425,
 '1935': 426,
 'Six': 427,
 'Bankey': 428,
 'Nai': 429,
 'Indra': 430,
 'Githa': 431,
 'Pazhukkamattom': 432,
 'hands': 433,
 'response': 434,
 'national': 435,
 'either': 436,
 'Rule1(4': 437,
 'special': 438,
 'moto': 439,
 'no.14': 440,
 'IST': 441,
 'Money': 442,
 'lodged': 443,
 'provisions': 444,
 'reason': 445,
 'pertinent': 446,
 'steps': 447,
 '29.10.2010': 448,
 'subsist': 449,
 'Election': 450,
 'construed': 451,
 'N.Laxmamma': 452,
 'Vasanthakumar': 453,
 'reasons': 454,
 '149': 455,
 'Archana': 456,
 'dt': 457,
 '10.00': 458,
 'more': 459,
 'defaulting': 460,
 'Health': 461,
 'financial': 462,
 'colleges': 463,
 '{': 464,
 'discretion': 465,
 'water': 466,
 'suits': 467,
 'contention': 468,
 "''": 469,
 'brokersâ€Ÿ': 470,
 'Cycle': 471,
 '26.1.2': 472,
 'component': 473,
 'entertained': 474,
 'Sessions': 475,
 'students': 476,
 'calculated': 477,
 'came': 478,
 'SDO': 479,
 'SLR': 480,
 '276kms': 481,
 'deserve': 482,
 'd': 483,
 'PW40': 484,
 'Cheque': 485,
 'unilateral': 486,
 '83': 487,
 'J.': 488,
 'forthcoming': 489,
 'Chemical': 490,
 'negligence': 491,
 'Gandhi': 492,
 'PRATHIBA': 493,
 '3(13': 494,
 'admits': 495,
 'bio': 496,
 'lies': 497,
 'capital': 498,
 'Sakha': 499,
 'Dabur': 500,
 'structures': 501,
 'purely': 502,
 'Seven': 503,
 'disposing': 504,
 'used': 505,
 '1962': 506,
 'presented': 507,
 'Mandadi': 508,
 'Datta': 509,
 'discredit': 510,
 'Lawyers': 511,
 'Infrastructure': 512,
 'However': 513,
 'legally': 514,
 'vendees': 515,
 '04/09/2020': 516,
 'Civil': 517,
 'passages': 518,
 'tests': 519,
 'fall': 520,
 'Maunag': 521,
 'request': 522,
 '213': 523,
 'times': 524,
 'confer': 525,
 '8379': 526,
 'obligation': 527,
 'C.': 528,
 'court': 529,
 'PW': 530,
 'E.Noohu': 531,
 'note': 532,
 'bitration': 533,
 'issuance': 534,
 'fail': 535,
 'constituencies': 536,
 'Jawanmal': 537,
 'sanctioned': 538,
 '1973': 539,
 'adduce': 540,
 'petitioners': 541,
 'loans': 542,
 'summer': 543,
 '270': 544,
 'His': 545,
 'universities': 546,
 'failed': 547,
 'Maar': 548,
 'Narain': 549,
 '329': 550,
 'culmination': 551,
 'father': 552,
 'Jai': 553,
 'Surthar': 554,
 'fulfill': 555,
 'Nga': 556,
 'UGC': 557,
 'education': 558,
 'create': 559,
 'accepting': 560,
 'Ref': 561,
 'annual': 562,
 'N.B.C.C.': 563,
 'proposition': 564,
 '22.05.2018': 565,
 'explain': 566,
 'Nadu': 567,
 'imparted': 568,
 'principle': 569,
 'sum': 570,
 'relating': 571,
 'More': 572,
 'KV': 573,
 'reproduction': 574,
 'Rinki': 575,
 'Bred': 576,
 'leads': 577,
 '143(1)(a)(ii': 578,
 'M.A.C.M.A.No.1233': 579,
 'doctrine': 580,
 'Lahar': 581,
 'Pharmacy': 582,
 'Wakfnama': 583,
 'Administration': 584,
 '17th': 585,
 'arrived': 586,
 'Hobli': 587,
 'Kamal': 588,
 'Maharajadhiraja': 589,
 'falsified': 590,
 'connection': 591,
 'presumption': 592,
 'rely': 593,
 'assembly': 594,
 'Multiple': 595,
 'Sec': 596,
 'NCBC': 597,
 'Vasudeva': 598,
 'fully': 599,
 'P.W.14': 600,
 '20.06.2019': 601,
 'communities': 602,
 '2498': 603,
 'Saroj': 604,
 'Others': 605,
 'agent': 606,
 'CrPC': 607,
 'knowledge': 608,
 'besides': 609,
 'Estate': 610,
 '12': 611,
 'JUDGMENT': 612,
 'suggested': 613,
 'XIII': 614,
 'Muskan': 615,
 'E': 616,
 'Prayagraj': 617,
 'Coming': 618,
 'Accordingly': 619,
 'horticulture': 620,
 'Cable': 621,
 'No.524/2021': 622,
 'Paid': 623,
 'except': 624,
 'observations': 625,
 'enunciated': 626,
 'developing': 627,
 '40': 628,
 'Bachulal': 629,
 'assessing': 630,
 'reopening': 631,
 '22.07.2021': 632,
 'Crl.]Nos.2497': 633,
 'three': 634,
 'VS': 635,
 'Mehul': 636,
 'o': 637,
 'flat': 638,
 '500/': 639,
 'between': 640,
 'Still': 641,
 '103': 642,
 'supervisory': 643,
 'Exh': 644,
 'oval': 645,
 'averred': 646,
 'Pullamma': 647,
 'past': 648,
 'Madan': 649,
 'sq.feet': 650,
 'evidences': 651,
 'witness': 652,
 'Home': 653,
 'investigating/': 654,
 'Thousand': 655,
 'Ct': 656,
 'warning': 657,
 'imposed': 658,
 '185/': 659,
 'reversing': 660,
 'Ar': 661,
 'studying': 662,
 'axiomatic': 663,
 'Lal': 664,
 'withdrawal': 665,
 'or': 666,
 'feasibility': 667,
 'output': 668,
 'negative': 669,
 'cause': 670,
 'tending': 671,
 'uses': 672,
 '146': 673,
 'Petition(s': 674,
 'bonafide': 675,
 'Ashok': 676,
 'Dinesh': 677,
 'designated': 678,
 'ballot': 679,
 'M.C.O.P.No.2224': 680,
 'assumed': 681,
 'A23': 682,
 'examining': 683,
 'Megh': 684,
 'representing': 685,
 'Sengupta': 686,
 'alternatively': 687,
 '126': 688,
 '2186': 689,
 'covered': 690,
 'OTHERS': 691,
 '576': 692,
 'city': 693,
 'Seetharam': 694,
 'fresh': 695,
 'We': 696,
 'right': 697,
 '.in': 698,
 'Four': 699,
 'Anna': 700,
 'suitable': 701,
 'intentionally': 702,
 'telecasting': 703,
 'Sovereign': 704,
 'substantiate': 705,
 'accepts': 706,
 'Honorable': 707,
 'G.T.': 708,
 'no': 709,
 'Rs.90': 710,
 'ExP4': 711,
 'ghat': 712,
 'SEB': 713,
 'apposite': 714,
 'unjust': 715,
 'exception': 716,
 'Chhattisgarh': 717,
 'True': 718,
 'Allahabad': 719,
 'propounder': 720,
 'under': 721,
 'Tenterden': 722,
 'confidence': 723,
 'road': 724,
 'advantage': 725,
 '94': 726,
 'clothed': 727,
 'p': 728,
 '187': 729,
 'ceiling': 730,
 'dishonoured': 731,
 'ex\xadDirector': 732,
 'helping': 733,
 'RSA': 734,
 '7.5': 735,
 'suspicious': 736,
 'arising': 737,
 'Reorganisation': 738,
 'Burah': 739,
 'Economy': 740,
 'attorney': 741,
 '1922': 742,
 'amongst': 743,
 'their': 744,
 'fore': 745,
 '2015': 746,
 'deposit': 747,
 'dt.02': 748,
 'contraband': 749,
 'writing': 750,
 'SC/0616/1991': 751,
 'Minerals': 752,
 'acquisition': 753,
 'gathered': 754,
 'accompanying': 755,
 '31.1.2020': 756,
 'sentence': 757,
 'Law': 758,
 '111': 759,
 'normal': 760,
 'No.23/3': 761,
 'certain': 762,
 'discharged': 763,
 'paras': 764,
 'finds': 765,
 'Vardharji': 766,
 'exhausted': 767,
 'VUSB': 768,
 'socio': 769,
 'label': 770,
 'juncture': 771,
 '22nd': 772,
 'Dish': 773,
 'Khagadia': 774,
 'addition': 775,
 'aunt': 776,
 'as': 777,
 'prejudice': 778,
 'DRM': 779,
 'P.W.12': 780,
 'P.W.20': 781,
 'Greater': 782,
 'Mahabirsthan': 783,
 'eyewitnesses': 784,
 'Complainant': 785,
 'Vicky': 786,
 'P.W.2': 787,
 'face': 788,
 'BFA': 789,
 'Moreover': 790,
 'CW.14': 791,
 'expenses': 792,
 'aims': 793,
 'just': 794,
 'paid': 795,
 '2016)10': 796,
 'postal': 797,
 'gone': 798,
 '73': 799,
 'PW66': 800,
 'caused': 801,
 'Narasaiah': 802,
 'blue': 803,
 'consequence': 804,
 'West': 805,
 'SARFAESI': 806,
 'suo': 807,
 '639/': 808,
 '709': 809,
 'interdict': 810,
 'Naveen': 811,
 'IPC': 812,
 'Pr': 813,
 'areas': 814,
 'bailable': 815,
 'Planning': 816,
 'Meters': 817,
 'inapplicable': 818,
 'meant': 819,
 'attaining': 820,
 '176': 821,
 'another': 822,
 'vend': 823,
 'Satyanarayana': 824,
 'expressed': 825,
 'by': 826,
 'defence': 827,
 'Bachawat': 828,
 '2022': 829,
 'Aizawl': 830,
 '243': 831,
 'Hundred': 832,
 '2011': 833,
 'Varma': 834,
 'Johnson': 835,
 'affirmatively': 836,
 'choose': 837,
 '116': 838,
 'promotees': 839,
 'Mahesh': 840,
 'Capital': 841,
 'personal': 842,
 'availability': 843,
 'relative': 844,
 'candidates': 845,
 'imputes': 846,
 '2.7': 847,
 'Divisional': 848,
 '5000': 849,
 '1912': 850,
 'They': 851,
 'economic': 852,
 '61': 853,
 'subordinate': 854,
 'quest': 855,
 'exemption': 856,
 'ILR': 857,
 'Mantar': 858,
 'Pati': 859,
 '1959': 860,
 'Sunil': 861,
 '26.07.1972': 862,
 'buyer': 863,
 'admittedly': 864,
 'preparedness': 865,
 'extension': 866,
 'informant': 867,
 'weigh': 868,
 '21(1': 869,
 'confident': 870,
 'charged': 871,
 'loss': 872,
 'Kapada': 873,
 'Rakesh': 874,
 'Shivaji': 875,
 'versed': 876,
 'DSPE': 877,
 'Parmeshwari': 878,
 'disposal': 879,
 'owning': 880,
 'behest': 881,
 'said': 882,
 '224': 883,
 'showed': 884,
 'Noida': 885,
 'team': 886,
 'raise': 887,
 'itself': 888,
 'No.14': 889,
 'K.Gopalakrishna': 890,
 'vitiate': 891,
 'Jamshedpur': 892,
 '1982': 893,
 'Mathew': 894,
 'Helabattala': 895,
 'utilised': 896,
 'trademark': 897,
 'copper': 898,
 'proposed': 899,
 'enabling': 900,
 'Maruti': 901,
 'principles': 902,
 'Manjunath': 903,
 'crores': 904,
 'Rajkot': 905,
 'particular': 906,
 'Tyre': 907,
 'tholas': 908,
 '16C': 909,
 'Kiran': 910,
 'S.Evershine': 911,
 '22.01.2003': 912,
 'President': 913,
 'taxing': 914,
 'original': 915,
 'January': 916,
 'secondary': 917,
 '788': 918,
 'cheating': 919,
 'taking': 920,
 'spells': 921,
 'acquisitions': 922,
 'Radiology': 923,
 'TMI': 924,
 'Kudal': 925,
 'merits': 926,
 'abated': 927,
 '20667/07': 928,
 'Group': 929,
 'present': 930,
 'parameters': 931,
 'bigha': 932,
 'nos': 933,
 'Tax': 934,
 'Nehru': 935,
 'Club': 936,
 'Godse': 937,
 'Ravinder': 938,
 'injury': 939,
 'Revenue': 940,
 'Channa': 941,
 '767': 942,
 'HOME': 943,
 'oral': 944,
 'pensioners': 945,
 'inasmuch': 946,
 'Sabeena': 947,
 'informed': 948,
 'did': 949,
 'stipulates': 950,
 'Rohtagi': 951,
 'reappreciation': 952,
 '2010': 953,
 'Omit': 954,
 'Umarbhai': 955,
 'forward': 956,
 'statute': 957,
 'Kashmir': 958,
 'purview': 959,
 'CW.25': 960,
 'affirmative': 961,
 '50': 962,
 'nine': 963,
 'express': 964,
 'slowdown': 965,
 'Liquidator': 966,
 'wilful': 967,
 'Barabar': 968,
 'Inter': 969,
 'Statutory': 970,
 '340': 971,
 'Aman': 972,
 'Street': 973,
 '19/02/1990': 974,
 'Venkataswamy': 975,
 'Driveshafts': 976,
 'No.9360': 977,
 'Gazette': 978,
 'month': 979,
 '13.10.2020': 980,
 'Rice': 981,
 '12.01.1995': 982,
 'SP': 983,
 'Vandana': 984,
 'augment': 985,
 'Enercon': 986,
 'CAO': 987,
 'cement': 988,
 '25(1': 989,
 'Sri': 990,
 'agency': 991,
 'Most': 992,
 'P.W.1': 993,
 '26/11/2005': 994,
 'NO.3273/2016': 995,
 'withdrawn': 996,
 'curial': 997,
 'spirit': 998,
 'week': 999,
 ...}

In [60]:
final_df.to_csv("Final_DataFrame_Dev_Judgement")