In [ ]:
!pip install https://huggingface.co/opennyaiorg/en_legal_ner_trf/resolve/main/en_legal_ner_trf-any-py3-none-any.whl
!pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl

In [ ]:
cd '/content/drive/MyDrive/NLP/NLP project/legal_NER-main'

In [ ]:
!pip install -r requirements.txt

In [2]:
import pandas as pd

with open('/content/NER_DEV_PREAMBLE.json', encoding='utf-8') as inputfile:
    df = pd.read_json(inputfile)

df.to_csv('csvfile.csv', encoding='utf-8', index=False)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df

,id,annotations,data,meta
0,1ea9dd0b69b64720851a2234a689082f,"[{'result': [{'value': {'start': 17, 'end': 49...",{'text': '$~40 * In The High Court Of Delhi...,{'source': 'motorvehicles_delhi_high_court pre...
1,dc971f32971b4a52a0698650111e8fc3,"[{'result': [{'value': {'start': 117, 'end': 1...",{'text': '1 ...,{'source': 'tax_supremecourts preamble https:/...
2,20026855d8e04d91bde343dd203fec4b,"[{'result': [{'value': {'start': 91, 'end': 12...",{'text': 'R/Scr.A/9089/2017 ...,{'source': 'constitution_gujarat_high_court pr...
3,a3ff6117512d4897846f7e0bd4e46ee7,"[{'result': [{'value': {'start': 0, 'end': 85,...",{'text': 'High Court Of Judicature For Rajasth...,{'source': 'civil_rajasthan_high_court preambl...
4,8664b65997ef4742b697bd03159b5ed1,"[{'result': [{'value': {'start': 47, 'end': 81...",{'text': '1 ...,{'source': 'tax_madras_high_court preamble htt...
...,...,...,...,...
120,d5ad198089c24ae5bdf026cfd57d78c0,"[{'result': [{'value': {'start': 66, 'end': 10...",{'text': 'Carbp-196 of 2016.odt rrpillai ...,{'source': 'civil_bombay_high_court preamble h...
121,2c507d06e7824b669bc095915d4e79fc,"[{'result': [{'value': {'start': 78, 'end': 11...",{'text': 'dss 1 J...,{'source': 'criminal_bombay_high_court preambl...
122,9b9c02d46b5442aeab6a8bfc6d03bebb,"[{'result': [{'value': {'start': 7, 'end': 40,...",{'text': 'In The High Court Of Kerala At Ernak...,{'source': 'tax_kerala_high_court preamble htt...
123,627aad947d0f4413926b9c7c330fa1c1,"[{'result': [{'value': {'start': 0, 'end': 52,...",{'text': 'High Court Of Judicature At Allahaba...,{'source': 'criminal_allahabad_high_court prea...
124,5f717d9800bf4cf484614dc7d2afbd55,"[{'result': [{'value': {'start': 0, 'end': 37,...",{'text': 'High Court Of Judicature At Allahaba...,{'source': 'civil_allahabad_high_court preambl...

In [4]:
from torch import cuda
device = 'cuda' if cuda.is_available() else 'cpu'
print(device)

cuda

## Text Preprocessing

### Preproceesing annotations start

In [5]:
annotations_column = df['annotations']

In [6]:
annotations_column =  annotations_column.to_numpy()

In [7]:
annotation_start = []
annotation_end = []


for sent in annotations_column:
  sent_start = []
  sent_end = []
  sent_text = []
  sent_label = []
  for sent_res in sent:
    for res_value in sent_res['result']:
      sent_start.append(res_value['value']['start'])

    for res_value in sent_res['result']:
      sent_end.append(res_value['value']['end'])
    


  annotation_start.append(sent_start)
  annotation_end.append(sent_end)

In [8]:
annotation_start[0]

[17, 199, 286, 301, 323, 361, 436, 458, 578, 677, 705, 802, 816]

In [9]:
len(annotation_end)

125

In [10]:
annotation_text = []
annotation_label = []
for sent in annotations_column:
    sent_text = []
    sent_label = []
    for sent_res in sent:

        for res_value in sent_res['result']:
          sent_text.append(res_value['value']['text'])
        
        for res_value in sent_res['result']:
          sent_label.append(res_value['value']['labels']) 

    annotation_text.append(sent_text)
    annotation_label.append(sent_label)

In [11]:
annotation_text[0]

['High Court Of Delhi At New Delhi',
 'Oriental Insurance Co Ltd.',
 'S.P. Jain',
 'Himanshu Gambhir',
 'Nar\n                    Singh',
 'Pushkar Singh Kanwal',
 'Zaixhu Xie',
 'Qualcomm India Pvt Ltd',
 'Arvind Chaudhary',
 'Ram Kawar',
 'Amit Kumar',
 'Najmi Waziri',
 'Najmi Waziri']

In [12]:
annotation_label[0]

[['COURT'],
 ['PETITIONER'],
 ['LAWYER'],
 ['LAWYER'],
 ['LAWYER'],
 ['LAWYER'],
 ['RESPONDENT'],
 ['RESPONDENT'],
 ['LAWYER'],
 ['LAWYER'],
 ['LAWYER'],
 ['JUDGE'],
 ['JUDGE']]

In [13]:
column_names = ['start', 'end' , 'text' , 'labels']

final_df = pd.DataFrame()
final_df['start'] = annotation_start
final_df['end'] = annotation_end
final_df['text'] = annotation_text
final_df['labels'] = annotation_label

final_df.head()

,start,end,text,labels
0,"[17, 199, 286, 301, 323, 361, 436, 458, 578, 6...","[49, 225, 295, 317, 352, 381, 446, 480, 594, 6...","[High Court Of Delhi At New Delhi, Oriental In...","[[COURT], [PETITIONER], [LAWYER], [LAWYER], [L..."
1,"[117, 328, 451, 701, 824, 1011, 1130]","[139, 354, 467, 726, 851, 1039, 1146]","[Supreme Court Of India, Parmar Samantsinh Ume...","[[COURT], [PETITIONER], [RESPONDENT], [PETITIO..."
2,"[91, 236, 938, 1038, 1149, 1190, 1329]","[125, 249, 968, 1054, 1158, 1202, 1342]","[High Court Of Gujarat At Ahmedabad, J.B.Pardi...","[[COURT], [JUDGE], [PETITIONER], [RESPONDENT],..."
3,"[0, 163, 716, 752, 812]","[85, 187, 734, 794, 846]",[High Court Of Judicature For Rajasthan Bench ...,"[[COURT], [PETITIONER], [RESPONDENT], [RESPOND..."
4,"[47, 275, 402, 728, 888, 982, 1054, 1146, 1324...","[81, 286, 420, 736, 951, 1027, 1115, 1293, 133...","[High Court Of Judicature At Madras, S.Manikum...","[[COURT], [JUDGE], [JUDGE], [PETITIONER], [RES..."

In [14]:
for a,b,c,d in zip(annotation_start[:2], annotation_end[:2],annotation_text[:2],annotation_label[:2]):
  print(a,b,c,d)

[17, 199, 286, 301, 323, 361, 436, 458, 578, 677, 705, 802, 816] [49, 225, 295, 317, 352, 381, 446, 480, 594, 686, 715, 814, 828] ['High Court Of Delhi At New Delhi', 'Oriental Insurance Co Ltd.', 'S.P. Jain', 'Himanshu Gambhir', 'Nar\n                    Singh', 'Pushkar Singh Kanwal', 'Zaixhu Xie', 'Qualcomm India Pvt Ltd', 'Arvind Chaudhary', 'Ram Kawar', 'Amit Kumar', 'Najmi Waziri', 'Najmi Waziri'] [['COURT'], ['PETITIONER'], ['LAWYER'], ['LAWYER'], ['LAWYER'], ['LAWYER'], ['RESPONDENT'], ['RESPONDENT'], ['LAWYER'], ['LAWYER'], ['LAWYER'], ['JUDGE'], ['JUDGE']]
[117, 328, 451, 701, 824, 1011, 1130] [139, 354, 467, 726, 851, 1039, 1146] ['Supreme Court Of India', 'Parmar Samantsinh Umedsinh', 'State Of Gujarat', 'State Election Commission', 'Virendrasinh Mafaji Vaghela', 'Narendra Kumar Ambalal Ravat', 'State Of Gujarat'] [['COURT'], ['PETITIONER'], ['RESPONDENT'], ['PETITIONER'], ['RESPONDENT'], ['PETITIONER'], ['RESPONDENT']]

In [15]:
zip(annotation_start[0], annotation_end[0])

In [16]:
pwd

'/content'

In [17]:
final_df.to_csv('Processed_DataFrame_Dev')

## IOB tagging

In [18]:
import pandas as pd

df_ = pd.read_csv('/content/Processed_DataFrame_Dev')
df_.head()

,Unnamed: 0,start,end,text,labels
0,0,"[17, 199, 286, 301, 323, 361, 436, 458, 578, 6...","[49, 225, 295, 317, 352, 381, 446, 480, 594, 6...","['High Court Of Delhi At New Delhi', 'Oriental...","[['COURT'], ['PETITIONER'], ['LAWYER'], ['LAWY..."
1,1,"[117, 328, 451, 701, 824, 1011, 1130]","[139, 354, 467, 726, 851, 1039, 1146]","['Supreme Court Of India', 'Parmar Samantsinh ...","[['COURT'], ['PETITIONER'], ['RESPONDENT'], ['..."
2,2,"[91, 236, 938, 1038, 1149, 1190, 1329]","[125, 249, 968, 1054, 1158, 1202, 1342]","['High Court Of Gujarat At Ahmedabad', 'J.B.Pa...","[['COURT'], ['JUDGE'], ['PETITIONER'], ['RESPO..."
3,3,"[0, 163, 716, 752, 812]","[85, 187, 734, 794, 846]",['High Court Of Judicature For Rajasthan Bench...,"[['COURT'], ['PETITIONER'], ['RESPONDENT'], ['..."
4,4,"[47, 275, 402, 728, 888, 982, 1054, 1146, 1324...","[81, 286, 420, 736, 951, 1027, 1115, 1293, 133...","['High Court Of Judicature At Madras', 'S.Mani...","[['COURT'], ['JUDGE'], ['JUDGE'], ['PETITIONER..."

In [19]:
text = df.iloc[[0]]['data']

In [20]:
text[0]['text']

"$~40\n*    In The High Court Of Delhi At New Delhi\n\n%                                                  Decided on: 31.07.2019\n\n+ Mac.App. 976/2018 & Cm Nos. 46122/2018, 15243/2019, 34195/2019\n\n       Oriental Insurance Co Ltd.                     ..... Appellant\n           Through: Mr. S.P. Jain, Mr. Himanshu Gambhir, Mr. Nar\n                    Singh and Mr. Pushkar Singh Kanwal, Advocates.\n\n                          Versus\n\n       Zaixhu Xie & Ors (M/S Qualcomm India Pvt Ltd )\n                                                     ..... Respondents\n           Through: Mr. Arvind Chaudhary, Advocate for Respondent\n                     Nos. 1& 2.\n                     Mr. Ram Kawar, Advocate for Mr. Amit Kumar\n                     Gupta, Advocate for Respondent No.4.\n\nCoram:\nHon'Ble Mr. Justice Najmi Waziri\n\nNajmi Waziri, J. (Oral)\n\n\n"

In [21]:
import spacy
nlp = spacy.load('en_core_web_sm')

doc = nlp(text[0]['text'])

for d in doc:
  print(d.text)

$
~40


*

In
The
High
Court
Of
Delhi
At
New
Delhi



%

Decided
on
:
31.07.2019



+
Mac
.
App
.
976/2018
&
Cm
Nos
.
46122/2018
,
15243/2019
,
34195/2019



Oriental
Insurance
Co
Ltd.

.....
Appellant


Through
:
Mr.
S.P.
Jain
,
Mr.
Himanshu
Gambhir
,
Mr.
Nar


Singh
and
Mr.
Pushkar
Singh
Kanwal
,
Advocates
.



Versus



Zaixhu
Xie
&
Ors
(
M
/
S
Qualcomm
India
Pvt
Ltd
)


.....
Respondents


Through
:
Mr.
Arvind
Chaudhary
,
Advocate
for
Respondent


Nos
.
1
&
2
.


Mr.
Ram
Kawar
,
Advocate
for
Mr.
Amit
Kumar


Gupta
,
Advocate
for
Respondent
No.4
.



Coram
:


Hon'Ble
Mr.
Justice
Najmi
Waziri



Najmi
Waziri
,
J.
(
Oral
)

In [22]:
import re
t = re.sub('\n', " ", text[0]['text'])

In [23]:
" ".join(t.split())

"$~40 * In The High Court Of Delhi At New Delhi % Decided on: 31.07.2019 + Mac.App. 976/2018 & Cm Nos. 46122/2018, 15243/2019, 34195/2019 Oriental Insurance Co Ltd. ..... Appellant Through: Mr. S.P. Jain, Mr. Himanshu Gambhir, Mr. Nar Singh and Mr. Pushkar Singh Kanwal, Advocates. Versus Zaixhu Xie & Ors (M/S Qualcomm India Pvt Ltd ) ..... Respondents Through: Mr. Arvind Chaudhary, Advocate for Respondent Nos. 1& 2. Mr. Ram Kawar, Advocate for Mr. Amit Kumar Gupta, Advocate for Respondent No.4. Coram: Hon'Ble Mr. Justice Najmi Waziri Najmi Waziri, J. (Oral)"

In [24]:
df['data']

0      {'text': '$~40
*    In The High Court Of Delhi...
1      {'text': '1

                                 ...
2      {'text': 'R/Scr.A/9089/2017                   ...
3      {'text': 'High Court Of Judicature For Rajasth...
4      {'text': '1

                                 ...
                             ...
120    {'text': 'Carbp-196 of 2016.odt


rrpillai
   ...
121    {'text': 'dss                            1   J...
122    {'text': 'In The High Court Of Kerala At Ernak...
123    {'text': 'High Court Of Judicature At Allahaba...
124    {'text': 'High Court Of Judicature At Allahaba...
Name: data, Length: 125, dtype: object

In [25]:
def preprocess(sent):
  sent = re.sub('\n', " ", sent)
  sent = sent.replace("...", " ")
  sent = " ".join(sent.split())

  return sent


clean_text = []
for i in df['data']:
  clean_text.append(preprocess(i['text']))

In [26]:
len(clean_text)

125

In [27]:
df_['clean_text'] = clean_text

In [28]:
df_.head()

,Unnamed: 0,start,end,text,labels,clean_text
0,0,"[17, 199, 286, 301, 323, 361, 436, 458, 578, 6...","[49, 225, 295, 317, 352, 381, 446, 480, 594, 6...","['High Court Of Delhi At New Delhi', 'Oriental...","[['COURT'], ['PETITIONER'], ['LAWYER'], ['LAWY...",$~40 * In The High Court Of Delhi At New Delhi...
1,1,"[117, 328, 451, 701, 824, 1011, 1130]","[139, 354, 467, 726, 851, 1039, 1146]","['Supreme Court Of India', 'Parmar Samantsinh ...","[['COURT'], ['PETITIONER'], ['RESPONDENT'], ['...",1 Reportable In The Supreme Court Of India Civ...
2,2,"[91, 236, 938, 1038, 1149, 1190, 1329]","[125, 249, 968, 1054, 1158, 1202, 1342]","['High Court Of Gujarat At Ahmedabad', 'J.B.Pa...","[['COURT'], ['JUDGE'], ['PETITIONER'], ['RESPO...",R/Scr.A/9089/2017 Judgment In The High Court O...
3,3,"[0, 163, 716, 752, 812]","[85, 187, 734, 794, 846]",['High Court Of Judicature For Rajasthan Bench...,"[['COURT'], ['PETITIONER'], ['RESPONDENT'], ['...",High Court Of Judicature For Rajasthan Bench A...
4,4,"[47, 275, 402, 728, 888, 982, 1054, 1146, 1324...","[81, 286, 420, 736, 951, 1027, 1115, 1293, 133...","['High Court Of Judicature At Madras', 'S.Mani...","[['COURT'], ['JUDGE'], ['JUDGE'], ['PETITIONER...",1 In The High Court Of Judicature At Madras Da...

In [29]:
s = df_.iloc[0]['clean_text']

for i in range(7,40):
  print(s[i])

I
n

T
h
e

H
i
g
h

C
o
u
r
t

O
f

D
e
l
h
i

A
t

N
e
w

In [30]:
df_.iloc[1]['clean_text']

import spacy
nlp = spacy.load('en_core_web_sm')

doc = nlp(df_.iloc[0]['clean_text'])

print(doc[0])

$

In [31]:
span = doc.char_span(73,100,label = "COURT")
span

## New solution

In [32]:
def sentence_cleaner(sentence):
    '''
    replacing the unwanted charachters
    '''
    reg = re.compile("[\w]*[\w.]*\w[\w']*\w[\w\/]*|[\w\/O]")
    return " ".join(reg.findall(sentence.replace('\n', ' '))).replace(" / ", '/')

In [33]:
def sentence_cleaner_v1(sentence):
    '''
    replacing the unwanted charachters
    '''
    sent_1 = " ".join(sentence.replace("\n" , " ").replace("..." , " ").replace("-", " ").replace("," , " ").replace(":" , " ").replace("=",  " ").split())
    doc = nlp(sent_1)
    doc_list = []
    for i in doc:
      doc_list.append(str(i))
    return doc_list

In [34]:
def sentence_tagging(sent, annotation):

  #creating dictonary to store word to entity
  word2ent = {}
  sent = sent['text']
  for ann in (annotation[0]['result']):
    temp_sent = (sent[ ann['value']['start']: ann['value']['end']]).split()
    
    #Customized IOBE tagging

    temp_len = len(temp_sent)
    #print(temp_sent,temp_len)
    if temp_len > 1 :
        for i in range(temp_len):
            #print(i, temp_len - 1)
            if i == 0 :
              word2ent[temp_sent[i]] =  "B-" + ann['value']['labels'][0]
            
            elif i == (temp_len - 1):
              word2ent[temp_sent[i]] =  "E-" + ann['value']['labels'][0]

            else :
              word2ent[temp_sent[i]] =  "I-" + ann['value']['labels'][0]

    else :
        word2ent[temp_sent[0]] = "B-" + ann['value']['labels'][0]

  #adding 'O' tag
  sent = sentence_cleaner(sent)
  sent = sent.split()
  tag_list = []
  for word in sent:
      #print(word)
      if word not in word2ent.keys() and word + ',' not in word2ent.keys() :
        
        word2ent[word] = "O"
        #print(word , word2ent[word])
        tag_list.append(word2ent[word])
      
      else :
          tag_list.append(word2ent[word])
  
  
  print(word2ent )
  return tag_list

In [35]:
def sentence_tagging_v1(sent, annotation):

  #creating dictonary to store word to entity
  word2ent = {}
  sent = sent['text']
  for ann in (annotation[0]['result']):
    temp_sent = (sent[ ann['value']['start']: ann['value']['end']]).split()
    
    #Customized IOBE tagging

    temp_len = len(temp_sent)
    #print(temp_sent,word2ent)
    for i in range(temp_len):
        #print(i, temp_len - 1)
        #assign empty list if word not present in dictonary
        if temp_sent[i] not in word2ent:
            word2ent[temp_sent[i]] = []

        if i == 0 :
          word2ent[temp_sent[i]].append("B-" + ann['value']['labels'][0])
        
        elif i == (temp_len - 1):
          word2ent[temp_sent[i]].append("E-" + ann['value']['labels'][0])

        else :
          word2ent[temp_sent[i]].append("I-" + ann['value']['labels'][0])

  #adding 'O' tag
  sent = sentence_cleaner(sent)
  sent = sent.split()
  tag_list = []
  for word in sent:
      #print(word)
      if word not in word2ent.keys():
        
        word2ent[word] = "O"
        #print(word , word2ent[word])
      tag_list.append(word2ent[word])
      
  
  
  #print(word2ent )
  return tag_list

In [37]:
def sentence_tagging_v2(sent, annotation):

  """
  current using word
  """

  #creating dictonary to store word to entity
  word2ent = {}
  sent = sent['text']
  for ann in (annotation[0]['result']):
    temp_sent = sentence_cleaner_v1(sent[ ann['value']['start']: ann['value']['end']])
    
    #Customized IOBE tagging

    temp_len = len(temp_sent)
    #print(temp_sent,word2ent)
    for i in range(temp_len):
        #print(i, temp_len - 1)
        #assign empty list if word not present in dictonary
        if temp_sent[i] not in word2ent:
            word2ent[temp_sent[i]] = []

        if i == 0 :
          word2ent[temp_sent[i]].append("B-" + ann['value']['labels'][0])
        
        elif i == (temp_len - 1):
          word2ent[temp_sent[i]].append("E-" + ann['value']['labels'][0])

        else :
          word2ent[temp_sent[i]].append("I-" + ann['value']['labels'][0])

  #adding 'O' tag
  sent = sentence_cleaner_v1(sent)
  tag_list = []
  for word in sent:
      #print(word)
      if word not in word2ent.keys():
        tag = "O"
      else :
        if len(word2ent[word]) != 0 :
          tag = word2ent[word].pop(0)
        else :
          tag = "O"

      #print(word,tag)   
      tag_list.append(str(tag))
      
  
  
  #print(word2ent )
  return tag_list

In [38]:
IOBE_tagging = []
i = 0
for sent, anno in zip( df['data'].to_list(), df['annotations'].to_list()):
    IOBE_tagging.append(sentence_tagging_v2(sent,anno))

In [39]:
IOBE_tagging[2]

['O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-COURT',
 'I-COURT',
 'I-COURT',
 'I-COURT',
 'I-COURT',
 'E-COURT',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-JUDGE',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-PETITIONER',
 'I-PETITIONER',
 'E-PETITIONER',
 'O',
 'O',
 'O',
 'B-RESPONDENT',
 'I-RESPONDENT',
 'E-RESPONDENT',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-LAWYER',
 'I-LAWYER',
 'E-LAWYER',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-LAWYER',
 'E-LAWYER',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-JUDGE',
 'O',
 'O',
 'O',
 'O']

In [40]:
final_df['tags'] = IOBE_tagging
final_df.head()

,start,end,text,labels,tags
0,"[17, 199, 286, 301, 323, 361, 436, 458, 578, 6...","[49, 225, 295, 317, 352, 381, 446, 480, 594, 6...","[High Court Of Delhi At New Delhi, Oriental In...","[[COURT], [PETITIONER], [LAWYER], [LAWYER], [L...","[O, O, O, O, O, B-COURT, I-COURT, I-COURT, I-C..."
1,"[117, 328, 451, 701, 824, 1011, 1130]","[139, 354, 467, 726, 851, 1039, 1146]","[Supreme Court Of India, Parmar Samantsinh Ume...","[[COURT], [PETITIONER], [RESPONDENT], [PETITIO...","[O, O, O, O, B-COURT, I-COURT, I-COURT, E-COUR..."
2,"[91, 236, 938, 1038, 1149, 1190, 1329]","[125, 249, 968, 1054, 1158, 1202, 1342]","[High Court Of Gujarat At Ahmedabad, J.B.Pardi...","[[COURT], [JUDGE], [PETITIONER], [RESPONDENT],...","[O, O, O, O, O, O, O, O, B-COURT, I-COURT, I-C..."
3,"[0, 163, 716, 752, 812]","[85, 187, 734, 794, 846]",[High Court Of Judicature For Rajasthan Bench ...,"[[COURT], [PETITIONER], [RESPONDENT], [RESPOND...","[B-COURT, I-COURT, I-COURT, I-COURT, I-COURT, ..."
4,"[47, 275, 402, 728, 888, 982, 1054, 1146, 1324...","[81, 286, 420, 736, 951, 1027, 1115, 1293, 133...","[High Court Of Judicature At Madras, S.Manikum...","[[COURT], [JUDGE], [JUDGE], [PETITIONER], [RES...","[O, O, O, B-COURT, I-COURT, I-COURT, I-COURT, ..."

In [41]:
sent_1 = df['data'].to_list()[2]['text']
sent_1

'R/Scr.A/9089/2017                                           Judgment\n\n\n\n\n           In The High Court Of Gujarat At Ahmedabad\n\n           Special Criminal Application No. 9089 of 2017\n\n\nFor Approval And Signature:\nHonourable Mr.Justice J.B.Pardiwala                                Sd/-\n\n==========================================================\n\n1     Whether Reporters of Local Papers may be allowed to see the              Yes\n      judgment ?\n\n2     To be referred to the Reporter or not ?                                  Yes\n\n3     Whether their Lordships wish to see the fair copy of the                 No\n      judgment ?\n\n4     Whether this case involves a substantial question of law as to           No\n      the interpretation of the Constitution of India or any order made\n      thereunder ?\n\n      Circulate this Judgment in the Subordinate Judiciary.\n\n==========================================================\n            Harishankar Gayaprasad Jaiswal.... Petitioner\n                              Versus\n                 State Of Gujarat & 3.... Respondents\n==========================================================\nAppearance:\nMr H N Sevak for the PETITIONER(s) No. 1\nMs Moxa Thakkar, App for the RESPONDENT(s) No. 1\n==========================================================\n\n    Coram: Honourable Mr.Justice J.B.Pardiwala\n\n                                 Date : 08/03/2018\n\n                                Oral Judgment\n\n'

In [ ]:
# tag_2 = final_df['tags'].to_list()[77]
# tag_2

In [42]:
# [\w]*[\w.]*\w[\w']*\w[\w\/]*|[\w\/O]

reg = re.compile("[\w]*[\w.]*\w[\w']*\w[\w\/]*|[\w\/O]")
" ".join(reg.findall(sent_1.replace('\n', ' '))).replace(" / ", '/')

'R/Scr A/9089/2017 Judgment In The High Court Of Gujarat At Ahmedabad Special Criminal Application No 9089 of 2017 For Approval And Signature Honourable Mr.Justice J.B.Pardiwala Sd/ 1 Whether Reporters of Local Papers may be allowed to see the Yes judgment 2 To be referred to the Reporter or not Yes 3 Whether their Lordships wish to see the fair copy of the No judgment 4 Whether this case involves a substantial question of law as to No the interpretation of the Constitution of India or any order made thereunder Circulate this Judgment in the Subordinate Judiciary Harishankar Gayaprasad Jaiswal Petitioner Versus State Of Gujarat 3 Respondents Appearance Mr H N Sevak for the PETITIONER s No 1 Ms Moxa Thakkar App for the RESPONDENT s No 1 Coram Honourable Mr.Justice J.B.Pardiwala Date 08/03/2018 Oral Judgment'

In [43]:
" ".join(sent_1.replace(" "," ").split())

'R/Scr.A/9089/2017 Judgment In The High Court Of Gujarat At Ahmedabad Special Criminal Application No. 9089 of 2017 For Approval And Signature: Honourable Mr.Justice J.B.Pardiwala Sd/- ========================================================== 1 Whether Reporters of Local Papers may be allowed to see the Yes judgment ? 2 To be referred to the Reporter or not ? Yes 3 Whether their Lordships wish to see the fair copy of the No judgment ? 4 Whether this case involves a substantial question of law as to No the interpretation of the Constitution of India or any order made thereunder ? Circulate this Judgment in the Subordinate Judiciary. ========================================================== Harishankar Gayaprasad Jaiswal.... Petitioner Versus State Of Gujarat & 3.... Respondents ========================================================== Appearance: Mr H N Sevak for the PETITIONER(s) No. 1 Ms Moxa Thakkar, App for the RESPONDENT(s) No. 1 ========================================================== Coram: Honourable Mr.Justice J.B.Pardiwala Date : 08/03/2018 Oral Judgment'

In [44]:
word2count = {}

for sent in df['data'].to_list():
    for word in sent['text'].split():
        if word not in word2count:
          word2count[word] = 0
        else:
          word2count[word] += 1

In [45]:
for key in word2count.keys():
  if re.search(r'\bM+\b', key):
    print(key)

(M/S
M
S.M.Subramaniam
M.R.Anitha
M.
M/s.
M.Seetharama
M/S.
M/s
M.P.
Crl.M.C.2663/2021
M/S
Crl.M.C.2730/2021
M.A.K.
S.M.
X.A.C.M.M.
(O&M)
M.K.
M.Govindaraj
M.D,
M/S.Siraj
Crl.M.C.,
Crl.M.A.No.1/2019
Crl.M.C.No.1797/2017.
Crl.M.C.No.1797
2019(O&M)
M.G.Road
M.Bapi
W.M.P.Nos.17661
2.M/s.Covai
W.M.P.Nos.10241
Crl.M.(Bail)
M.P.Chothy,
M.P.Chothy
C.M.
M.Venugopal
C.M.A.No.2249
M.P.No.1
M/s.Row
M.R.
V.M.
V.M.Velumani
C.M.A(MD)No.864
M.C.O.P.No.830
M.D.
M.K.Geore,
M.T.Issac,
Pandey,S.M.
K.M.

## Using Tokenizer

In [46]:
from spacy.tokenizer import Tokenizer
from spacy.lang.en import English
nlp = English()

In [47]:
sent_1 = " ".join(sent_1.replace("\n" , " ").replace("..." , " ").replace("-", "").split())
doc = nlp(sent_1)
doc_list = []
for i in doc:
  doc_list.append(str(i))
doc_list

['R',
 '/',
 'Scr',
 '.',
 'A/9089/2017',
 'Judgment',
 'In',
 'The',
 'High',
 'Court',
 'Of',
 'Gujarat',
 'At',
 'Ahmedabad',
 'Special',
 'Criminal',
 'Application',
 'No',
 '.',
 '9089',
 'of',
 '2017',
 'For',
 'Approval',
 'And',
 'Signature',
 ':',
 'Honourable',
 'Mr.',
 'Justice',
 'J.B.Pardiwala',
 'Sd/',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '1',
 'Whether',
 'Reporters',
 'of',
 'Local',
 'Papers',
 'may',
 'be',
 'allowed',
 'to',
 'see',
 'the',
 'Yes',
 'judgment',
 '?',
 '2',
 'To',
 'be',
 'referred',
 'to',
 'the',
 'Reporter',
 'or',
 'not',
 '?',
 'Yes',
 '3',
 'Whether',
 'their',
 'Lordships',
 'wish',
 'to',
 'see',
 'the',
 'fair',
 'copy',
 'of',
 'the',
 'No',
 'judgment',
 '?',
 '4',
 'Whether',
 'this',
 'case',
 'involves',
 'a',
 'substantial',
 'question',
 'of',
 'law',
 'as',
 'to',
 'No',
 'the',
 'interpretation',
 'of',
 'the',
 'Constitution',
 'of',
 'India',
 'or',
 'any',
 'order',
 'made',
 'thereunder',
 '?',
 'Circulate',
 'this',
 'Judgment',
 'in',
 'the',
 'Subordinate',
 'Judiciary',
 '.',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 'Harishankar',
 'Gayaprasad',
 'Jaiswal',
 '.',
 'Petitioner',
 'Versus',
 'State',
 'Of',
 'Gujarat',
 '&',
 '3',
 '.',
 'Respondents',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 'Appearance',
 ':',
 'Mr',
 'H',
 'N',
 'Sevak',
 'for',
 'the',
 'PETITIONER(s',
 ')',
 'No',
 '.',
 '1',
 'Ms',
 'Moxa',
 'Thakkar',
 ',',
 'App',
 'for',
 'the',
 'RESPONDENT(s',
 ')',
 'No',
 '.',
 '1',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 '=',
 'Coram',
 ':',
 'Honourable',
 'Mr.',
 'Justice',
 'J.B.Pardiwala',
 'Date',
 ':',
 '08/03/2018',
 'Oral',
 'Judgment']

# Clean the sentences

In [48]:
clean_sentences = []

for sent in df['data'].to_list():
    clean_sentences.append(sentence_cleaner_v1(sent['text']))

In [49]:
final_df['clean_sent'] = clean_sentences
final_df.head()

,start,end,text,labels,tags,clean_sent
0,"[17, 199, 286, 301, 323, 361, 436, 458, 578, 6...","[49, 225, 295, 317, 352, 381, 446, 480, 594, 6...","[High Court Of Delhi At New Delhi, Oriental In...","[[COURT], [PETITIONER], [LAWYER], [LAWYER], [L...","[O, O, O, O, O, B-COURT, I-COURT, I-COURT, I-C...","[$, ~40, *, In, The, High, Court, Of, Delhi, A..."
1,"[117, 328, 451, 701, 824, 1011, 1130]","[139, 354, 467, 726, 851, 1039, 1146]","[Supreme Court Of India, Parmar Samantsinh Ume...","[[COURT], [PETITIONER], [RESPONDENT], [PETITIO...","[O, O, O, O, B-COURT, I-COURT, I-COURT, E-COUR...","[1, Reportable, In, The, Supreme, Court, Of, I..."
2,"[91, 236, 938, 1038, 1149, 1190, 1329]","[125, 249, 968, 1054, 1158, 1202, 1342]","[High Court Of Gujarat At Ahmedabad, J.B.Pardi...","[[COURT], [JUDGE], [PETITIONER], [RESPONDENT],...","[O, O, O, O, O, O, O, O, B-COURT, I-COURT, I-C...","[R, /, Scr, ., A/9089/2017, Judgment, In, The,..."
3,"[0, 163, 716, 752, 812]","[85, 187, 734, 794, 846]",[High Court Of Judicature For Rajasthan Bench ...,"[[COURT], [PETITIONER], [RESPONDENT], [RESPOND...","[B-COURT, I-COURT, I-COURT, I-COURT, I-COURT, ...","[High, Court, Of, Judicature, For, Rajasthan, ..."
4,"[47, 275, 402, 728, 888, 982, 1054, 1146, 1324...","[81, 286, 420, 736, 951, 1027, 1115, 1293, 133...","[High Court Of Judicature At Madras, S.Manikum...","[[COURT], [JUDGE], [JUDGE], [PETITIONER], [RES...","[O, O, O, B-COURT, I-COURT, I-COURT, I-COURT, ...","[1, In, The, High, Court, Of, Judicature, At, ..."

## Word2idx

In [50]:
def get_dict_map(df , token_or_tag):
    """
    converts word to index

    [Need changes !!!]
    """
    tok2idx = {}
    idx2tok = {}

    vocab = []

    if token_or_tag == 'token':
        for sent in df['clean_sent'].to_list():
          vocab.extend( list(set(sent)) )

        vocab = set(vocab)

    else :
        for sent in df['tags'].to_list():
          vocab.extend( list(set(sent)) )
        
        vocab = set(vocab)


    idx2tok = {idx:tok for idx , tok in enumerate(vocab)}
    tok2idx = {tok:idx for idx , tok in enumerate(vocab)}

    return tok2idx, idx2tok



word2idx, idx2word = get_dict_map(final_df, 'token')
# tag2idx, idx2tag = get_dict_map(final_df, 'tag')

In [52]:
import json
 
# Opening JSON file
with open('tag2idx') as tag2idx_file:
    tag2idx = json.load(tag2idx_file)

In [53]:
import json
 
# Opening JSON file
with open('idx2tag') as idx2tag_file:
    idx2tag = json.load(idx2tag_file)

In [ ]:
tag2idx

In [ ]:
idx2tag

In [56]:
"""
Padding and converting from word sequence to index sequence

"""

max_len = max([len(sent) for sent in final_df['clean_sent'].tolist()])
pad_idx = len(word2idx)
tag_pad_idx = tag2idx['O']
word_idx_sequence = []
tag_idx_sequence = []
pad = "PAD"

for sent in final_df['clean_sent'].to_list():
    #print(sent)
    word_idx_sequence.append([word2idx[word] for word in sent] + [pad_idx for _ in range(max_len - len(sent))])


for tag_seq in final_df['tags'].to_list():
    tag_idx_sequence.append([tag2idx[tag] for tag in tag_seq] + [tag_pad_idx for _ in range(max_len - len(tag_seq))])

In [57]:
final_df['word_idx'] = word_idx_sequence
final_df['tag_idx'] = tag_idx_sequence

In [58]:
len(tag2idx)

16

In [59]:
tag2idx

{'E-JUDGE': 0,
 'E-PETITIONER': 1,
 'B-LAWYER': 2,
 'E-RESPONDENT': 3,
 'I-RESPONDENT': 4,
 'O': 5,
 'I-PETITIONER': 6,
 'B-JUDGE': 7,
 'B-PETITIONER': 8,
 'E-LAWYER': 9,
 'I-JUDGE': 10,
 'I-LAWYER': 11,
 'E-COURT': 12,
 'B-COURT': 13,
 'B-RESPONDENT': 14,
 'I-COURT': 15}

In [60]:
word2idx

{'P.C.': 0,
 'A.K.Kishore': 1,
 '1976': 2,
 '19.4.2019': 3,
 'A.C.Vidhya': 4,
 '4099': 5,
 'No.1501': 6,
 'Kottayam': 7,
 'g.doc': 8,
 'calling': 9,
 'Note': 10,
 'P.S.': 11,
 'Kalina': 12,
 'Biswas': 13,
 'Sarathy': 14,
 'Prounounced': 15,
 'Kranti': 16,
 'Murli': 17,
 '151': 18,
 'Parvinder': 19,
 'Application': 20,
 'o': 21,
 'V.': 22,
 'Sonak': 23,
 'owned': 24,
 '1548': 25,
 'H.L.': 26,
 'Sultana': 27,
 '1994(Nmr': 28,
 'Lpa': 29,
 '12876': 30,
 'Pcr': 31,
 'Prithu': 32,
 'Gst': 33,
 'Cargo': 34,
 'Palakkad': 35,
 'institution': 36,
 'Ble': 37,
 '366': 38,
 'Property': 39,
 '792': 40,
 'No.53174/2022': 41,
 'Apoorva': 42,
 'O.Late': 43,
 'No.24481/2012(Mv': 44,
 'Triumph': 45,
 '1545': 46,
 'Noel': 47,
 'Avratosh': 48,
 'decision': 49,
 'Rajshekhar': 50,
 'Royal': 51,
 '11th': 52,
 '119/2018': 53,
 'Theppakulathu': 54,
 'Dhanvantri': 55,
 'Jindal': 56,
 'Summons': 57,
 '340': 58,
 '2021': 59,
 'D': 60,
 'S.B.': 61,
 'B.Pugalendhi': 62,
 'Claims': 63,
 'B.K.': 64,
 'K.M.': 65,
 'Atul': 66,
 'Dudheria': 67,
 '3927/2013': 68,
 '4405': 69,
 '–': 70,
 '1978': 71,
 'G.P.5': 72,
 'Om': 73,
 'Harsimranjeet': 74,
 'A.K.Mishra': 75,
 "'s": 76,
 '110001': 77,
 'Aishwarya': 78,
 'Shivendra': 79,
 'WP.No.15304/19': 80,
 'Miscellaneous': 81,
 '7642': 82,
 '450': 83,
 '386': 84,
 'Khurana': 85,
 'Satya': 86,
 '377': 87,
 'being': 88,
 'Capt': 89,
 'Kondadi': 90,
 '40': 91,
 'Slp(C)No.30635': 92,
 'Developers': 93,
 '234': 94,
 'dated': 95,
 'Debanshu': 96,
 'A.': 97,
 'Hrishikesh': 98,
 'Cyrus': 99,
 'District': 100,
 'Navnit': 101,
 'Karikkanad': 102,
 'Gambhir': 103,
 '008': 104,
 'Shingade': 105,
 '168/2021': 106,
 'Aashaa': 107,
 '2016(1': 108,
 '06.07.2010': 109,
 'Pharmaceuticals': 110,
 'Khambatta': 111,
 'Cnr': 112,
 'Saidapet': 113,
 'i.e.': 114,
 'Gayaprasad': 115,
 'plaintiffs': 116,
 'no.1': 117,
 '1963': 118,
 'Ravindra': 119,
 '7161': 120,
 '182/2021': 121,
 'Goud': 122,
 'Hq': 123,
 '1434/2020': 124,
 'co': 125,
 '560001': 126,
 '1.(2012': 127,
 '4561': 128,
 'stipulated': 129,
 'No.7449': 130,
 'Housewife': 131,
 'Nutan': 132,
 'Jacob': 133,
 '4941': 134,
 'Rajdhani': 135,
 'No.34097/2015': 136,
 'Abhey': 137,
 '262/2021': 138,
 'Rajwara': 139,
 'Social': 140,
 'Mahender': 141,
 'Nirala': 142,
 'Union': 143,
 'Sat': 144,
 'Supp': 145,
 'Small': 146,
 'Deepak': 147,
 '009': 148,
 'Narendra': 149,
 'Khatoon': 150,
 'Prabhakar': 151,
 'Name': 152,
 'RESPONDENT(s': 153,
 '30th': 154,
 '1.Thamada': 155,
 'Wp/4927/2018': 156,
 '10924': 157,
 'Pronouncement': 158,
 'Collector': 159,
 '1979': 160,
 'P.Sri': 161,
 '45': 162,
 'Order': 163,
 'P.O.': 164,
 'Moosavi': 165,
 'Mittal': 166,
 '34': 167,
 '4098': 168,
 'Alka': 169,
 'Justice': 170,
 'Su': 171,
 'North': 172,
 'copy': 173,
 '3301': 174,
 '1197': 175,
 '605006': 176,
 'WP(C).No': 177,
 'Dutt': 178,
 '`': 179,
 'No.10234': 180,
 'situated': 181,
 'Calcutta': 182,
 'Metaliks': 183,
 'Umedsinh': 184,
 'Khaleeli': 185,
 'Rasta': 186,
 'Shaheda': 187,
 'Judgement': 188,
 'Hobli': 189,
 'Estate': 190,
 'J).doc': 191,
 'Dead': 192,
 '289': 193,
 'Nar': 194,
 'La': 195,
 'anr': 196,
 'made': 197,
 'Cs': 198,
 '6890': 199,
 'Arumbakkam': 200,
 'No.27': 201,
 'Niranjan': 202,
 'Tajender': 203,
 '8315': 204,
 'Sananda': 205,
 'GmbH': 206,
 'Ahluwalia': 207,
 '253/2020': 208,
 'Association': 209,
 'Section': 210,
 'Rohan': 211,
 'Rathore': 212,
 'Chinniampalayam': 213,
 'Gunjan': 214,
 'Kansal': 215,
 'ANNEXURE': 216,
 'Pvt': 217,
 'Poornima': 218,
 '4.The': 219,
 'water': 220,
 'one': 221,
 'provision': 222,
 'Mlj': 223,
 'Bhavan': 224,
 'Cause': 225,
 'Soumen': 226,
 'working': 227,
 'direct': 228,
 'Assurance': 229,
 'Arati': 230,
 'Crmwp': 231,
 'Comm': 232,
 'Curiae': 233,
 'Sbn': 234,
 'None': 235,
 'Mazgaonwala': 236,
 'M.Seetharama': 237,
 'Bhawana': 238,
 '9.Radhakrishnan': 239,
 'Md.': 240,
 'O.A.P.Achuthan': 241,
 'Yallavva': 242,
 'Rajkumar': 243,
 '1342/2020': 244,
 'Income': 245,
 '217/2021': 246,
 'Docket': 247,
 'Rhea': 248,
 'Saugaat': 249,
 '138': 250,
 'Q': 251,
 'Nirendra': 252,
 'Richmond': 253,
 '41': 254,
 'Katare': 255,
 '1493/2013': 256,
 'Sarosij': 257,
 '2014': 258,
 'Arangottukara': 259,
 'Kazmi': 260,
 'Video': 261,
 'Age': 262,
 'C.P.W.D.': 263,
 'Ramattom': 264,
 '13': 265,
 'aside': 266,
 'Conferencing': 267,
 'Tanuj': 268,
 'K.Somashekar': 269,
 'Fir': 270,
 'Raghunath': 271,
 'Hall': 272,
 'Shashwat': 273,
 'Xxiv': 274,
 '421/2001': 275,
 'Verified': 276,
 'I.A.No.3648': 277,
 'Land': 278,
 'Cl': 279,
 'Sarkar': 280,
 'Bts': 281,
 'Nath': 282,
 ']': 283,
 'Kurla': 284,
 'Srivastavaac': 285,
 ';': 286,
 'No.470/2009': 287,
 'Nmg': 288,
 'Rahman': 289,
 'Division': 290,
 'Aditi': 291,
 '519': 292,
 '1917': 293,
 'w/o': 294,
 'Seraj': 295,
 'Ravi': 296,
 'Kishan': 297,
 'Appellant(s': 298,
 'modify': 299,
 'Thana': 300,
 '7154': 301,
 'K.I.Thankachan': 302,
 '69': 303,
 'Joseph': 304,
 'approval': 305,
 'Principles': 306,
 'O.T.': 307,
 'Vazhakkalayil': 308,
 'X.A.C.M.M.': 309,
 'Kotwali': 310,
 'Commn': 311,
 'Fao': 312,
 'Plural': 313,
 '24': 314,
 'Ald': 315,
 'Aged': 316,
 'Over': 317,
 'Pallamkunnel': 318,
 'Karl': 319,
 'Madurai': 320,
 'Banaswadi': 321,
 'Which': 322,
 'Mansurpur': 323,
 '9th': 324,
 '152': 325,
 'No.81178/2020': 326,
 '2/299': 327,
 '9673': 328,
 'Yendru': 329,
 'ors': 330,
 'Prabhu': 331,
 'grant': 332,
 'Amol': 333,
 '250': 334,
 '3056': 335,
 '29.04.2019': 336,
 'Wind': 337,
 'M.C.': 338,
 'award': 339,
 'Utility': 340,
 'Choudhury': 341,
 'Os': 342,
 'Towers': 343,
 'H.': 344,
 'Engicon': 345,
 'Shahla': 346,
 'Chairperson': 347,
 'Mall': 348,
 'conferencing': 349,
 'Uday': 350,
 'arising': 351,
 'Acmm': 352,
 'Sushil': 353,
 '147': 354,
 'Dhingra': 355,
 'Didar': 356,
 '2018': 357,
 'Bhosale': 358,
 '834001': 359,
 'Air': 360,
 'Unlock': 361,
 '1946': 362,
 '3512/2018': 363,
 'Mukhtar': 364,
 'Unit': 365,
 '07/01/2020': 366,
 'Utter': 367,
 'Basu': 368,
 '130': 369,
 'Post': 370,
 'Vanchiyoor': 371,
 'Virendrasinh': 372,
 'Crl.)Nos.2497': 373,
 'Edelweiss': 374,
 '21956/2013': 375,
 '7514': 376,
 'Set': 377,
 'Judicature': 378,
 'Lalit': 379,
 'Kanta': 380,
 'custodial': 381,
 'Thukral': 382,
 'Ignatius': 383,
 'matters': 384,
 'Provisions': 385,
 'Vasantha': 386,
 'Parai': 387,
 'Lochan': 388,
 'Rashmi': 389,
 '01': 390,
 'Layout': 391,
 'R.Githesh': 392,
 'Cai/54/2016': 393,
 'Sons': 394,
 'Ishwar': 395,
 'petitioners': 396,
 '2835': 397,
 'No.194/2013': 398,
 'Examination': 399,
 '247/2020': 400,
 '1203/2020': 401,
 'Mahabir': 402,
 'Balakisti': 403,
 '209/2021': 404,
 'Vikram': 405,
 'Near': 406,
 'Filed': 407,
 '1401': 408,
 'Shastrinagar': 409,
 'Dwarka': 410,
 'Depot': 411,
 'Ramachandra': 412,
 'Sun': 413,
 '2594': 414,
 'M.K.': 415,
 'Day': 416,
 'Piyush': 417,
 '*': 418,
 'Circulate': 419,
 '4277': 420,
 '173': 421,
 'Rathaur': 422,
 'Saleem': 423,
 'Issue': 424,
 '@': 425,
 'Holder': 426,
 'Dhreej': 427,
 'Vide': 428,
 'In': 429,
 'C)No.786': 430,
 'Bhadra': 431,
 'Dodda': 432,
 'George': 433,
 'Raghuvanshi': 434,
 '22.01.2021': 435,
 'Archana': 436,
 'Balbir': 437,
 '625': 438,
 '560': 439,
 'Amarnath': 440,
 'Gardener': 441,
 '201': 442,
 'P.O': 443,
 'Jawaharlal': 444,
 'Shekhar': 445,
 'W.': 446,
 'Soumiya': 447,
 'Jurisdiction': 448,
 'J.B.Pardiwala': 449,
 'Trivedi': 450,
 '!': 451,
 'Maru': 452,
 'Pandey': 453,
 'Citizenship': 454,
 '23Rd': 455,
 '21957/2013': 456,
 'No.32': 457,
 'Plot': 458,
 'Viswanethra': 459,
 'C.P.Ashok': 460,
 'Pochkhanwala': 461,
 'October': 462,
 'at': 463,
 'Domlur': 464,
 'Padmapani': 465,
 'referred': 466,
 '1287/2020': 467,
 'S.H.O.': 468,
 '4043': 469,
 'Salar': 470,
 '1709': 471,
 'Leave': 472,
 'Chhotai': 473,
 'Learned': 474,
 'Bajpayee': 475,
 'Vineet': 476,
 'Ernakulam': 477,
 'S.M.': 478,
 'R': 479,
 '5.A.2.3': 480,
 '317': 481,
 'No.7404': 482,
 'Nijagannavar': 483,
 'Compliance': 484,
 'That': 485,
 'Sachdeva': 486,
 'A.K.Menon': 487,
 'Gunendra': 488,
 'Child': 489,
 'Amin': 490,
 'Ganganath': 491,
 '2015(R': 492,
 'Officer': 493,
 '734': 494,
 'Aditya': 495,
 '.Accused': 496,
 '.Petitioners': 497,
 'P.P.': 498,
 'video': 499,
 '983': 500,
 '7052': 501,
 'Abhijeet': 502,
 's': 503,
 'Mahima': 504,
 'Superintending': 505,
 '42': 506,
 'Tripathi': 507,
 '11.07.2019': 508,
 'are': 509,
 'rep': 510,
 '426': 511,
 'Sudhakar': 512,
 'Chauhan': 513,
 'Aswina': 514,
 'Jehangir': 515,
 'Amicus': 516,
 '2011': 517,
 'ssp': 518,
 'Abhiroop': 519,
 'Stage': 520,
 'C.R.': 521,
 '16.12.2019': 522,
 'P.Martin': 523,
 'vacant': 524,
 '001': 525,
 'Vaishali': 526,
 'Owner': 527,
 '8664': 528,
 'Bali': 529,
 '1323/2020': 530,
 '47167/2017': 531,
 '342': 532,
 'Mac': 533,
 'Five': 534,
 '062': 535,
 '254/2020': 536,
 '04.03.2019': 537,
 'Puneet': 538,
 '81': 539,
 'Certiorari': 540,
 'Mr.': 541,
 'Parthiban': 542,
 'Thippasandra': 543,
 'Nct': 544,
 'Sonbarsa': 545,
 'Jaffer': 546,
 'No.4020': 547,
 'Cw': 548,
 'Following': 549,
 'no.5': 550,
 'No.86': 551,
 '1991': 552,
 'M.(Bail': 553,
 'Orthodox': 554,
 '194/2021': 555,
 'M.': 556,
 'assisted': 557,
 'City': 558,
 'Shipping': 559,
 'Valluripalli': 560,
 'Chacko': 561,
 '?': 562,
 'Surana': 563,
 'No': 564,
 '003': 565,
 'Eeroji': 566,
 'Private': 567,
 'Prl': 568,
 'Insurer': 569,
 'Gajraj': 570,
 '25.06.2019': 571,
 'S.Ganesh': 572,
 'Ethiraj': 573,
 'Bhat': 574,
 '159': 575,
 'J.S.Murali': 576,
 'Bhadoriya': 577,
 'Selliyamman': 578,
 'No.152342/2021': 579,
 'Control': 580,
 'Rameshwar': 581,
 '2000': 582,
 '751': 583,
 'Curie': 584,
 'Cai/50/2017': 585,
 'Iii': 586,
 'Advocate': 587,
 'Deceptively': 588,
 'Kam': 589,
 'Kunnant': 590,
 '3.Idbi': 591,
 'ct': 592,
 'Farida': 593,
 'Thoothukudi': 594,
 'Gajendragadkar': 595,
 'Naseer': 596,
 'Confirming': 597,
 'Surabhi': 598,
 '341': 599,
 'Reconstruction': 600,
 '2022': 601,
 'Properties': 602,
 'Kalu': 603,
 'Rusia': 604,
 'C.V.': 605,
 'Proceedings': 606,
 'Subhash': 607,
 'Chelad': 608,
 'Tyagi': 609,
 'Appeals': 610,
 'Cpc': 611,
 '501/2016': 612,
 'Priyanka': 613,
 '58': 614,
 'Ramvir': 615,
 'Suresh': 616,
 'Harsh': 617,
 'Bank': 618,
 '20.02.2020': 619,
 '205': 620,
 '010': 621,
 'Ascj': 622,
 'Gobind': 623,
 '26': 624,
 '3300': 625,
 '17.04.2019': 626,
 'Andhyarujina': 627,
 '21917': 628,
 'Nos.38658': 629,
 'Adil': 630,
 'Reddi': 631,
 'O&M': 632,
 'Radhakrishnan': 633,
 '705': 634,
 'Jan': 635,
 'Mohsin': 636,
 'Slp(C)No.24950': 637,
 'Bose': 638,
 '2/2016': 639,
 'S.S.': 640,
 'No.762': 641,
 '981\xad982': 642,
 'Suman': 643,
 'Sohrab': 644,
 'been': 645,
 'Shiv': 646,
 'Kokar': 647,
 '21': 648,
 'Subhra': 649,
 'out': 650,
 'Mathew': 651,
 'Ors': 652,
 'WP.No.15304': 653,
 'L.Rs': 654,
 'TNEB': 655,
 '29/2017': 656,
 'Budihal': 657,
 'Sengar': 658,
 'Hani': 659,
 'Munna': 660,
 'illegal': 661,
 'Circle': 662,
 '52/2013': 663,
 'Code': 664,
 '12.11.2019': 665,
 'Tokio': 666,
 'Sarin': 667,
 '1136': 668,
 'Wp(C': 669,
 'This': 670,
 'Initiating': 671,
 '1st': 672,
 'Insurance': 673,
 's.': 674,
 'Sanjay': 675,
 'Pooja': 676,
 'Akhil': 677,
 'Mirpury': 678,
 'Ram': 679,
 '8087': 680,
 'Magistrate\xad09': 681,
 'Residential': 682,
 'Tiku': 683,
 '~40': 684,
 'Vc': 685,
 'V.T.Raghunath': 686,
 '580': 687,
 'Nariman': 688,
 'by': 689,
 'Vignesh': 690,
 'D.Ramani': 691,
 'Arani': 692,
 '397': 693,
 '5304': 694,
 'No.5/2020': 695,
 'Shavili': 696,
 'Sub': 697,
 '240/2021': 698,
 'LJ': 699,
 'Pil/80/2013': 700,
 '08/03/2018': 701,
 'complainant': 702,
 '29Th': 703,
 'Ramulu': 704,
 'M.C.2730/2021': 705,
 'No.152': 706,
 'Approved': 707,
 'Mehta': 708,
 'Qualcomm': 709,
 'Xyz': 710,
 'Brinks': 711,
 'years': 712,
 'Associate': 713,
 '5.The': 714,
 'I': 715,
 'Govt': 716,
 '260/2021': 717,
 'Kolkata': 718,
 'M.D': 719,
 'Prabhjit': 720,
 'FOR': 721,
 'Gautambhai': 722,
 'T.C.': 723,
 'certiorari': 724,
 'Original': 725,
 'Madras': 726,
 'Adlakha': 727,
 'Oral': 728,
 'R6': 729,
 'Conference': 730,
 '476': 731,
 '07.10.2021': 732,
 '227': 733,
 'Compound': 734,
 'Panda': 735,
 'Been': 736,
 'Jubilee': 737,
 'Documents': 738,
 'Magistrate': 739,
 '1St': 740,
 '1333/2020': 741,
 'Church': 742,
 'issuance': 743,
 '448': 744,
 'hearing': 745,
 '23.01.2013': 746,
 'Gulati': 747,
 '202': 748,
 'Simran': 749,
 'Ea': 750,
 'Subordinate': 751,
 '(': 752,
 'under': 753,
 'Pandyamyalil': 754,
 'Kunnat': 755,
 '24483/2012': 756,
 'V.C.': 757,
 'C.M.A(MD)No.864': 758,
 'Wife': 759,
 '20160/2017': 760,
 'S.Shekhar': 761,
 'Motion': 762,
 'M.D.': 763,
 'Azhar': 764,
 'Iqbal': 765,
 '098': 766,
 'Thirumittacode': 767,
 'N.V.': 768,
 'Surrendering': 769,
 'Cbi': 770,
 'No.323': 771,
 '173(1': 772,
 'Notice': 773,
 'Kul': 774,
 'respective': 775,
 'Ramana': 776,
 '02': 777,
 'Mount': 778,
 'Iffco': 779,
 'Manjunatha': 780,
 '762': 781,
 '9660': 782,
 'Vrindavan': 783,
 '27/2019': 784,
 'Nazneen': 785,
 'Tamil': 786,
 'Tiwary': 787,
 'Dharmarajan': 788,
 'Antony': 789,
 'appropriate': 790,
 'Sc': 791,
 'Cavi': 792,
 'court': 793,
 '&': 794,
 '6': 795,
 'Karia': 796,
 'Allahabad': 797,
 'Thrithala': 798,
 'Ujjain': 799,
 'Nos': 800,
 '97/2021': 801,
 'Samvedan': 802,
 'Acquitted': 803,
 '21955/2013': 804,
 'No.80': 805,
 'C.M.A.No.2249': 806,
 'File': 807,
 'Prahlad': 808,
 'Assessee': 809,
 'extraction': 810,
 'Kota': 811,
 'Interim': 812,
 'Poddar': 813,
 'A.F.R.': 814,
 'A.Ys': 815,
 'Mastan': 816,
 'Haryana': 817,
 'No.26415': 818,
 'Saju': 819,
 'Professional': 820,
 'file': 821,
 '2432': 822,
 'Bhanot': 823,
 'Valiyamala': 824,
 'R.Ayyapillai': 825,
 'Munjal': 826,
 'Chandrachud': 827,
 '703': 828,
 'Stay': 829,
 'Ghaziabad': 830,
 'writ': 831,
 'R.B.': 832,
 'Advs': 833,
 'S.Vijayashankar': 834,
 '14323/2016': 835,
 'Sevak': 836,
 'Pc': 837,
 'Dhananjay': 838,
 'Meridien': 839,
 'residents': 840,
 'Kameswar': 841,
 '99': 842,
 '3768': 843,
 'Kalamban': 844,
 'Cooper': 845,
 '2022.04.13': 846,
 'R9': 847,
 'Library': 848,
 'Through': 849,
 '17062/2020': 850,
 'Sachin': 851,
 'Manjiri': 852,
 'Kaimal': 853,
 'Goli': 854,
 'Vicar': 855,
 'B.': 856,
 'Directing': 857,
 '31.07.2019': 858,
 '164': 859,
 'Subhan': 860,
 'SLP(Crl.)No.4177': 861,
 'W.P.': 862,
 'no.4211': 863,
 'No.193/2013': 864,
 'death': 865,
 'Phoos': 866,
 'pay': 867,
 'Somashekhar': 868,
 'Mukherjee': 869,
 '08.06.2021': 870,
 '683': 871,
 'both': 872,
 'Bathery': 873,
 'Lok': 874,
 '26Th': 875,
 'Gappy': 876,
 'No.5849': 877,
 'Gandhi': 878,
 'Credit': 879,
 '2016.odt': 880,
 '5': 881,
 'Arc': 882,
 'Acb': 883,
 '3518/2012': 884,
 'Row': 885,
 'Case': 886,
 'C.V.Rajalakshmi': 887,
 'Read': 888,
 'Pramita': 889,
 '7156': 890,
 'Off': 891,
 'appearing': 892,
 'Kriti': 893,
 'Siddhant': 894,
 'Farrukhabad': 895,
 'Alexander': 896,
 'Shaji': 897,
 'R.': 898,
 'Surender': 899,
 'No.9758': 900,
 'Appellant(S': 901,
 '1481': 902,
 'Sheriff': 903,
 '5th': 904,
 'Prosecution': 905,
 '10.04.2019': 906,
 'Head': 907,
 'Maheshwari': 908,
 'Ftc': 909,
 '1292/2020': 910,
 '283/2021': 911,
 '682011': 912,
 'V.S.': 913,
 'son': 914,
 'Petitioner': 915,
 'N.Balayogi': 916,
 'Quarters': 917,
 '560084': 918,
 '20th': 919,
 'Ranga': 920,
 'Janakiammal': 921,
 'No.9': 922,
 'No.75301/2019': 923,
 'Campaign': 924,
 'Kuldeep': 925,
 'Lakshman': 926,
 '6.Edelweiss': 927,
 'D.B.': 928,
 'Directorate': 929,
 '679532': 930,
 '1959': 931,
 'J.S.': 932,
 'Traffic': 933,
 '6.National': 934,
 'Nos.83\xad94': 935,
 '22.12.2021': 936,
 '996': 937,
 'Jaajid': 938,
 'Abhinand': 939,
 'vs': 940,
 '19Th': 941,
 'B.P.S.': 942,
 'Kodagu': 943,
 'Another': 944,
 'Bengaluru': 945,
 'No.936': 946,
 '7646': 947,
 '406': 948,
 'Lalwani': 949,
 '374': 950,
 'No.(5.A.1.1': 951,
 'Sayed': 952,
 'Kannivadi': 953,
 'Sulthan': 954,
 '1343/2020': 955,
 'Sitamarhi': 956,
 'No.181/2013': 957,
 'No.55': 958,
 '19/12/2018': 959,
 'Anuj': 960,
 'Keshari': 961,
 'Meenaz': 962,
 'Taluk': 963,
 '2008(1': 964,
 'Vijay': 965,
 '3': 966,
 'Nos.152': 967,
 'Heeralal': 968,
 'w': 969,
 'No.1145': 970,
 'place': 971,
 '8': 972,
 'No.8304': 973,
 'Record': 974,
 'D3': 975,
 '7942': 976,
 '1653': 977,
 'Abhay': 978,
 'Natasa': 979,
 'Seetharama': 980,
 'Kawar': 981,
 'Y.S.': 982,
 'Illegal': 983,
 'No.138': 984,
 'Town': 985,
 '1990': 986,
 'D.P.Act': 987,
 '481': 988,
 'Representative': 989,
 'Manager': 990,
 'Bayer': 991,
 'Sandesh': 992,
 'Indore': 993,
 'appeal': 994,
 'A.P.': 995,
 'Puttappa': 996,
 '1710': 997,
 'El': 998,
 'L': 999,
 ...}

In [61]:
final_df.to_csv("Final_DataFrame_Dev_Preamble")